[2022-01-11 09:43] #1099 closed

[2022-01-11 18:47] debugaftercoffee opened #1184 "Date Picker widget shows the date previous to what was selected"
#### Wave SDK Version, OS

Wave SDK and runtime: 0.19.0, OS: Mac OS and Linux

#### Actual behavior

When selecting a date from a date picker, the previous day is presented on the UI, but the value in the q.args is correct. You can reproduce this behavior using the [Date Picker Sample](https://wave.h2o.ai/docs/examples/date-picker). In the screenshot below I have selected *October 24th 2017* in ea

[2022-01-11 21:29] lo5 commented on #59
Thanks for catching - fixed. There were hard-coded paths in the auth backend/frontend that caused this.

Is this for the `@app()` / `site[...]` in Python or `-base-url`? I don't think we have any examples in the docs that omit the leading `/`, do we?

I thought through this before coming up with `-base-url`. I agree that technically it's a path and not a URL, but "base path" has other connotations

[2022-01-11 22:52] lo5 commented on #961
I like the alternative proposal.

We can document that groups will be ignored if automatic pagination is turned on. Grouping might not make sense combined with pagination anyway. This way we'll have a more intuitive API in the non-paginated case instead of making grouping painful all the time.

[2022-01-12 04:11] mtanco commented on #1184
Hi @debugaftercoffee, thanks for the great details!

This was tracked in #1098 and has been fixed, the fix will be available in the next release. As a note, this is a timezone issue so you'll probably find you don't always see the issue, and many of our uses in the Europe timezones probably never noticed.

[2022-01-12 12:15] mturoci commented on #1184
Thanks @debugaftercoffee, closing as duplicate of #1098.

[2022-01-12 12:15] #1184 closed

[2022-01-12 16:46] #1181 closed

[2022-01-12 16:49] mtanco opened #1185 "UI Table not fully displaying"
#### Wave SDK Version, OS
Wave 0.19.0 on OS X, safari and chrome

#### Actual behavior
You'll notice there is no bottom line in both tables, you have to scroll on the table to see the end of the table. For the table on the left, one data row is under the scroll as well.
![image](https://user-images.githubusercontent.com/4793561/149184305-d4b16b15-9f8d-4ca7-bf9b-12d99ce4d85d.png)

#### Expected beh

[2022-01-12 17:12] debugaftercoffee commented on #1184
@mtanco @mturoci thank you for the link to the fix!

[2022-01-12 17:13] debugaftercoffee commented on #1177
@mturoci thank you for the detailed explanation and the updated code.

[2022-01-12 17:13] #1177 closed

[2022-01-13 08:50] mturoci commented on #1185
Thanks for the report @mtanco! This seems to be already fixed in the current master:

![image](https://user-images.githubusercontent.com/64769322/149296883-bd82dedb-a166-4539-94d6-c4c97b9720ff.png)

Can you please verify using the nightly?

[2022-01-17 07:10] mturoci opened #1188 "Split production build into chunks"
#### Is your feature request related to a problem? Please describe

Currently, we create a single big bundle of all the JS. This includes things like Vega, d3, g2, etc. However, most of the users will not use all of this pre-baked stuff anyway so there is no point in loading and parsing it in the browser.

#### Describe the solution you'd like

Lazy load external dependencies when it makes sense s

[2022-01-17 07:20] mturoci opened #1189 "Transpile final UI build into ES6 instead of ES5"
Since Wave uses [CSS variables](https://caniuse.com/css-variables) for theming, there is no point in transpiling down to ES5 as Wave would not work on these older browsers anyway. Transpiling to ES6 will provide us with:

* faster builds
* smaller bundles
* possible faster runtime (although not perceivable) due to modern browser optimizations

Note: We can replace Webpack with https://esbuild.gith

[2022-01-17 09:32] mturoci commented on #59
Closing as HAC team confirmed this feature works as expected.

[2022-01-17 09:32] #59 closed

[2022-01-17 09:38] keznikl commented on #59
Except the logout handling (which does not seem to work?)

[2022-01-17 09:45] mturoci opened #1190 "Wave VSCode extension"
* autocomplete
* code snippets

[2022-01-17 09:49] mturoci opened #1191 "Make examples in Tour editable in browser"
* use [Monaco editor](https://microsoft.github.io/monaco-editor/) for the code part
* Nice to have: Reuse LSP from VSCode extension to also provide autocomplete.

[2022-01-17 10:20] mturoci opened #1192 "Cache dependencies during CI builds"
CI build speed can be drastically improved by caching npm / pip dependencies across CI runs. Use hash of `package-lock`/`requirements.txt` as cache key. Not a high prio, just a nice to have.

[2022-01-17 18:17] lo5 commented on #59
@keznikl The logout issue was fixed via https://github.com/h2oai/wave/commit/24d2a826db725b900044e5214c25078ad0a75ae6

Are you still facing issues?

[2022-01-17 19:47] mtanco commented on #1185
Ah, much better, thanks!!

[2022-01-17 23:11] #1185 closed

[2022-01-17 23:12] mtanco commented on #1173
Closing with plans to release seperate, new intro to Wave for Data Science tutorials

[2022-01-17 23:12] #1173 closed

[2022-01-17 23:21] mtanco opened #1193 "Table Filtering Issues on Nightly"
#### Wave SDK Version, OS
Wave Nightly 01/17/2022, also Wave 0.19.0. Chrome and Safari, OS X

#### Actual behavior
The row number for filtering is correct, but I think that wave is expecting that the rows are ordered as non of the rows between the two `Torontos` were filtered.
Also, when I then "unfilter" I end up with more than 10 rows.
<img width="670" alt="image" src="https://user-images.github

[2022-01-17 23:27] mtanco commented on #1193
Whoops. Table Names were not unique. Probably should be able to handled developers oopses but def not a bug.

[code]

[2022-01-17 23:27] #1193 closed

[2022-01-19 09:58] #1093 closed

[2022-01-19 10:43] PudgyPigeon opened #1194 "Add OIDC CLI Args to Wave Run"
## Is your feature request related to a problem? Please describe

### Wave SDK Version, OS -   feat: Package Wave daemon within python wheel. #250 #1153 WSL 2 Ubuntu / Docker

According to the documentation found on this page: https://wave.h2o.ai/docs/development/ , the H20 Wave server is able to receive OIDC (Open ID Connect) command line arguments - by utilizing the ./waved command and passing t

[2022-01-19 12:27] marek-mihok commented on #1093
The issue is resolved by adding `blocking` property to side panel. Now the `dismissed` event is not triggered when clicking outside of side panel when `blocking=True` is specified. However the new implementation won't work for your specific example where side panel is overlapped by dialog. You should avoid implementing multiple overlays in your application as @mturoci has mentioned.

**The blockin

[2022-01-19 12:57] psinger commented on #1164
@aalencar just create a multi-choice dropdown with many many options and then select them

[2022-01-19 13:00] aalencar commented on #1164
@psinger ok, thank you!

[2022-01-19 14:20] mturoci opened #1196 "Include overlay components (dialog, side panel, notification bar etc.) in the documentation"

[2022-01-20 08:27] #696 closed

[2022-01-20 19:54] mtanco opened #1202 "Add Release to S3 as part of the Release Pipeline"
#### Is your feature request related to a problem? Please describe
Not all organizations are allowed to use GitHub, meaning they cannot download H2O Wave to their workstations. We have manually added H2O Wave 0.19.0 to s3 and created a landing page here:

https://h2o-wave.s3.us-east-1.amazonaws.com/releases/index.html
<img width="869" alt="image" src="https://user-images.githubusercontent.com/4793

[2022-01-21 01:13] lo5 opened #1203 "Reorganize showcase for 0.20 release"
**Background**

The individual cards and components are buried inside larger pages, and there's no way to jump to a specific component without clicking on the sidebar first and then clicking on a subsection on the right.
e.g. Images are inside Components > Content > Overview, which is not intuitive.

Let's redo the organization as follows.

**Overview of changes**
- Rename top-level "Components" t

[2022-01-24 09:36] mturoci opened #1205 "Allow file upload cancel"
Discussed in https://github.com/h2oai/wave/discussions/1201

Allow people to cancel ongoing file uploads.

[2022-01-24 23:22] mtanco commented on #1194
Hi @PudgyPigeon 👋 Thank you for your interest in Wave!

I see you are using nightly, here is some (not released) documentation that will help with this question: https://github.com/h2oai/wave/blob/master/website/docs/configuration.md#h2o_wave_no_autostart
You can set `H2O_WAVE_NO_AUTOSTART=1` to disable the auto-start of the Wave server when you use `wave run app`. You can then run the Wave server

[2022-01-25 21:16] mtanco commented on #537
@lo5 Thank you for fixing this in the `color` parameter! We noticed that the plot still fails with no error message if punctuation is in the column name for other parameters like `x` or `y`. Can this fix be applied to all inputs that can be parameterized by `feature="=column"`?

Repo of failing in the `x` and `y`:
[code]

CC @mturoci

[2022-01-27 19:49] #1203 closed

[2022-01-28 01:41] topher-lo commented on #1194
Hi @mtanco, I'm working with @PudgyPigeon here. Thanks for your reply! Let me clarify our request.

We would like to:
1. Enable auto-start of Wave server through the `wave run app` command
2. And have OIDC configured.
The auto-start vastly simplifies our developers' experience and our CICD deployment strategy.

We managed to deploy H20 wave to an EC2 instance using this set-up by modifying the `cl

[2022-01-31 07:34] mturoci commented on #1194
Hi @PudgyPigeon @topher-lo.

This one is already implemented thanks to `env=os.environ.copy()` https://github.com/h2oai/wave/blob/31009b79babcf36c7457c67d9f8b5489da6edd4f/py/h2o_wave/cli.py#L98

Please let us know if you run into any trouble.

[2022-01-31 10:43] sairaamv opened #1210 "`wave fetch` server downloads linux rather darwin in Mac M1"
Here is my M1 Mac log

[code]

Please let me know if you need any other log.

[code]

[2022-01-31 10:46] #1210 closed

[2022-01-31 20:26] sairaamv commented on #1210
Hi @lo5 , Yes I did holler without deep-diving into wave fetch 🙏🏽  - my bad.
v0.20 is awesome and with some quick dabble, I do like the `ui.header_card` and wave-cli 💯

[2022-02-01 02:17] azim-b opened #1212 "Broken docs links"
Docs links for `Components` seem to be broken. I suspect this is due to the introduction of `Widgets` in the docs.

For example:
https://wave.h2o.ai/docs/components/#dropdown

![image](https://user-images.githubusercontent.com/64787868/151903778-33b2bfe2-3eb2-414c-80a4-7c9cd984d3b0.png)

is now: https://wave.h2o.ai/docs/widgets/form/dropdown

[2022-02-01 05:11] shihan007 opened #1215 "Box plot Component"
![Screenshot 2022-02-01 at 10 52 06](https://user-images.githubusercontent.com/38729017/151916947-31c6d915-f1f6-40d1-a309-1de876623d37.png)
![Screenshot 2022-01-31 at 18 45 07](https://user-images.githubusercontent.com/38729017/151916953-b49ae43a-aac6-46a0-8082-42a19da447b0.png)

For model monitoring we need to have a box plot in order to show prediction value over time. Currently this component n

[2022-02-01 05:16] shihan007 commented on #1215
![Screenshot 2022-01-31 at 18 45 07](https://user-images.githubusercontent.com/38729017/151915956-4c0771fa-c01c-40f8-9ff1-659b5facd62b.png)

For model monitoring we need to have a box plot in order to show prediction value over time. Currently this component not available in wave. ( Column chart display in the bottom of the chart is a nice to have feature.)

Outliers display as dots.

design link:

[2022-02-01 05:17] shihan007 opened #1216 "Scatter plot with enhance color difference feature"

[2022-02-01 07:58] mturoci opened #1217 "Add required attribute to combobox"
### Discussed in https://github.com/h2oai/wave/discussions/1213

<div type='discussions-op-text'>

<sup>Originally posted by **azim-b** February  1, 2022</sup>
Combobox is now very similar to a dropdown, and this is useful. One thing that could still be helpful to add is a `required` parameter.</div>

[2022-02-01 08:07] mturoci commented on #1212
Did we ever support `/components` link? I don't remember. But that's right, such links ade not supported anymore.

@azim-b did you find the broken link above somewhere in the docs?

[2022-02-01 08:11] azim-b commented on #1212
yes, I believe we did. I have used the `Components` guide many times.

And yes, if you search for any component, it still links to the old URL:

<img width="469" alt="image" src="https://user-images.githubusercontent.com/64787868/151933292-581a9f7e-0eaf-4735-be13-45120ec39b74.png">

there's also a search result for `Components` in `Guide`, which is broken too (essentially all component links may b

[2022-02-01 10:34] mturoci commented on #1212
I see, seems like the Algolia didn't crawl the latest docs yet. I triggered the crawl manually, @azim-b can you please verify you no longer see broken links in the search?

[2022-02-01 12:37] mturoci opened #1218 "Publish docs as part of the release job"
* Publish built docs to S3
* Invalidate AWS Cloudfront cache - AWS CLI
* Trigger Algolia crawler - HTTP request

[2022-02-01 13:08] #1169 closed

[2022-02-01 13:27] mturoci opened #1219 "Use LTS Nodejs version for dev"

[2022-02-01 15:00] swt2c opened #1220 "Unable to change default Wave Server port using Environment Variables"
#### Wave SDK Version, OS

0.20.0, Linux

The way to change the port of the Wave server *seems* to be to set the `H2O_WAVE_LISTEN` environment variable.  However, this doesn't work.

Setting as `8080`:
[code]
Setting as `:8080`:
[code]
It seems the Python side is expecting just an integer, while the Go side is expecting :<port>.

[2022-02-01 20:25] swt2c opened #1222 "Deploying to Google App Engine"
It would be great if there were instructions on how to deploy a Wave app to Google App Engine (if it is even possible).

[2022-02-01 20:40] #1220 closed

[2022-02-01 22:16] swt2c commented on #1222
It does seem to be possible.  I was able to get it to work with the flexible environment/custom runtime.  The main issue is that App Engine expects the web server to run on port 8080 and because of #1220, I had to manually sed patch h2o_wave to fix that problem.  Not sure if it will be possible to use a standard environment after that bug fix is released.

[2022-02-02 04:07] shihan007 opened #1227 "New Header component"
![Screenshot 2022-02-02 at 09 38 43](https://user-images.githubusercontent.com/38729017/152091719-ee155feb-b220-46cf-8cfe-573954d9c61e.png)

design link - https://xd.adobe.com/view/0790f950-abbd-41fa-b372-332295fd876f-52c3/screen/f4b9e6c7-6c86-445d-a598-fb37bcda5115/

App name have use the primary color.
Hamburger icon can be enable or disable for the header. (optional feature to toggle side nav)

[2022-02-02 04:23] topher-lo commented on #1194
Thanks @mturoci and @mtanco for the help! Will revert our changes and just set the env vars as usual per `env=os.environ.copy()`.

[2022-02-02 07:30] mturoci commented on #1194
Note: There was a minor bug with `listen` - https://github.com/h2oai/wave/issues/1220 which is already fixed, but only available in nightly (not officially released yet).

[2022-02-02 07:30] #1194 closed

[2022-02-02 07:34] mturoci commented on #1227
All of this is already possible, see https://wave.h2o.ai/docs/widgets/content/header/. The only point that is not satisfied is primary color for title which was not implemented for 2 reasons:

* It's not a link so no point in being primary colored
* The proposed design doesn't count with existing subtitle.

[2022-02-02 07:34] #1227 closed

[2022-02-02 07:38] #692 closed

[2022-02-02 07:42] mturoci commented on #1216
Duplicate of #644.

[2022-02-02 09:19] #602 closed

[2022-02-02 10:49] shihan007 commented on #1216
@VijithaEkanayake Do we have scatterplot in wave sdk?

[2022-02-02 10:50] mturoci commented on #1216
https://wave.h2o.ai/docs/widgets/plots/point/#scatter

[2022-02-02 11:05] shihan007 commented on #1216
@mturoci can we display define threshold in red and based on that define plot-point colors?

[2022-02-02 11:07] mturoci commented on #1216
Yes, all of that is possible, look at the examples.

[2022-02-02 11:08] shihan007 commented on #1216
@VijithaEkanayake can you confirm this, so that we can remove this issue

[2022-02-02 13:34] johannes-becker-otto opened #1229 "local docker server in 0.20.0 leads to page_not_found"
Hello everyone

#### h2o Wave Version, OS

0.20.0, Docker runs in Unix

#### Actual behavior
Running server and app in Docker worked before
Now it's
[code]
The app then remains frozen at the h2o wave symbol

#### Expected behavior
[code]
Interestingly, if I install 0.19.0 for the app and 0.20.0 for the server it still works

#### Steps To Reproduce
I hope I add everything of importance
server:

[2022-02-02 14:20] zoido opened #1230 "Provide a way to get fresh access tokens even "in request""
#### Is your feature request related to a problem? Please describe

Access token are usually short-lived. In order or minutes but even sub minute time to live is possible.
App can use `access_token` property of available `h2o_wave.Q.auth`. This token seems to guaranteed to be fresh on the invocation of the handler but can expire during the handling when the handling takes longer the the token's TT

[2022-02-02 18:04] lo5 commented on #1229
Hi @johannes-becker-otto - Thank you for reporting the issue.

Do you mind posting the Dockerfile (maybe a stripped down minimal version) so that I can repro this? It's not clear to me how `H2O_WAVE_DOMAIN` is used, since it's not an env var used by the Wave server or apps.

Thanks in advance!

[2022-02-03 07:17] zoido opened #1232 "Embed default `--web-dir`"
#### Is your feature request related to a problem? Please describe

I'm always frustrated when ... 😄
I cannot put `waved` binary somewhere in my `$PATH` and use it from working directory.

[code]

Sure, I can specify `--web-dir` on each call or create an alias. But in that case I'd need to update the www data with new versions of `waved`.

`0.20.0+` wave includes `waved` with the Python package bu

[2022-02-03 08:27] johannes-becker-otto commented on #1229
[h2o_docker_minimal.zip](https://github.com/h2oai/wave/files/7992874/h2o_docker_minimal.zip)
Hi @lo5 ,
gladly, I hope the zipped minimal example works.
I tested it on my machine `docker compose up --build` (Docker Engine v20.10.11)
If you change the h2o-wave version in the app Dockerfile (in ".\") to 0.19.0 it works and you see the app in
http://localhost:10101/
All the best
Hannes

[2022-02-03 12:54] mturoci commented on #1212
Checked myself and seems like it's working fine. Feel free to reopen if you face this again @azim-b.

[2022-02-03 12:54] #1212 closed

[2022-02-04 04:42] UK-17 commented on #428
Any update on this ? I was making a JIRA issue tracker table using ui.table
It would be really helpful if links are allowed and i can redirect each row to its jira page.

[2022-02-04 08:31] mturoci opened #1233 "Unexpected data_type conversion in table"
via @UK-17

### Discussed in https://github.com/h2oai/wave/discussions/1226

### Repro

[code]

1. Run the repro app.
2. Group by Issue col.

### Actual behavior

![image](https://user-images.githubusercontent.com/64769322/152496562-33e262f4-ccc8-4fee-b96e-c2fbe3d9c68b.png)

### Expected behavior

The group by rows shouldn't parse date strings if `data_type` is `string`, but use plaintext instead.

[2022-02-04 08:32] mturoci commented on #428
We will try to include it within the next release.

[2022-02-04 14:38] mturoci commented on #1202
https://h2o-wave.s3.amazonaws.com/releases/index.html

@mtanco @lo5 I went for a more flat structure (instead of putting every release into its own folder) - basically very similar to what GH does. Also Both Anaconda and Pypi have their own mechanisms for browsing various versions so having a general link to these repos is fine.

Please let me know what you think about ^^.

[2022-02-04 17:11] ColinKrist commented on #988
This has been around since Jul 2020 for everyone's knowledge - the issue I was following just soft closed today [microsoft/fluentui#13991](https://github.com/microsoft/fluentui/issues/13991)

I wish this would get prioritized as it affects anyone using the date picker for multiple months of every year.

[2022-02-04 18:39] lo5 commented on #1232
Thanks for the feedback! Using `go:embed` would make sense here, but we have to put some think-time into front-end extensibility / custom-components before doing that. Our static front-end build today makes it easy to `go:embed`, but we need allowance for an escape-hatch in case we also have to compile in third-party app-specific UI components.

The `wave run` command is intended for development-t

[2022-02-04 18:48] lo5 commented on #1230
@zoido - What's the token TTL set to in HAIC?

If I understand correctly, the specific scenario you're describing is:
- app accepts request with valid token
- app backgrounds a long running process
- by the time the background operation completes, the token is no longer valid.

Is that correct?

[2022-02-05 00:03] mdg357 commented on #988
@ColinKrist looks like this might have gotten fixed at some point. Looking at [Microsoft's demo site](https://developer.microsoft.com/en-us/fluentui#/controls/web/datepicker):

![image](https://user-images.githubusercontent.com/2845121/152618947-06c34d6b-e103-41d0-8bff-48fc2e0ab6e2.png)

[2022-02-07 08:59] mturoci commented on #988
@mdg357 is right, I just verified and it works as expected according to the @mtanco's example

![image](https://user-images.githubusercontent.com/64769322/152756354-d4cd3986-79a2-420b-8cb4-301d4f87d13b.png)

Our underlying component framework is updated in master, thus this fix is for now only available in [nightly builds](https://github.com/h2oai/wave/releases/tag/nightly) and will be available i

[2022-02-07 08:59] #988 closed

[2022-02-07 09:14] #1005 closed

[2022-02-07 11:55] #1190 closed

[2022-02-07 12:35] #1219 closed

[2022-02-08 08:16] mturoci opened #1239 "Add site upload to snippets"
via @mtanco

### Discussed in https://github.com/h2oai/wave/discussions/1238

<div type='discussions-op-text'>

<sup>Originally posted by **mtanco** February  7, 2022</sup>
I can never remember how to get an image "into" wave to use elsewhere, would love to see this as a snippet:

[code]

[2022-02-09 10:01] johannes-becker-otto commented on #1229
Hi @lo5
If you have any feedback, otherwise I'll start my futile approach of trial and error again.
All the best
Hannes

[2022-02-09 22:28] lo5 commented on #1229
Thanks for providing the repro.

The following env vars shouldn't have the trailing `/`.

[code]

See docs:
- https://wave.h2o.ai/docs/configuration#h2o_wave_app_address
- https://wave.h2o.ai/docs/configuration#h2o_wave_address

Once you make that change, your setup should work for both 0.19.0 and 0.20.0.

I would recommend moving the Wave version to an `ARG` since it's only required during the bu

[2022-02-09 23:45] lo5 opened #1240 "API inconsistency in wide preview card."
The article card and tall preview have a `content` attribute with markdown support, whereas the recently added wide preview card has a `caption` attribute without markdown support, even though all three cards are similar in function.

Let's deprecate `caption` for 0.21, add a `content` and treat `caption` as `content` for 0.21+.

[2022-02-10 08:00] johannes-becker-otto commented on #1229
Thanks so much!
Was one of those things were I was blind because it worked beforehand...
The other inputs are also great.
I definitely should hardcode the version I'm using to avoid future surprises.
All the best
Hannes

[2022-02-11 02:42] lo5 commented on #349
The UX issue aside, I'd expect the tab to change if value is changed.

[2022-02-11 15:53] Nayananga opened #1243 "Create or kill a named task"
#### Is your feature request related to a problem? Please describe

Currently, I cannot create or kill a named task using `q.run` or `q.exec`. So if I want to run an infinite loop task in the background, I have no control over it unless the task brake the loop by itself.

#### Describe the solution you'd like

Give an API to create and kill a task by name.

#### Describe alternatives you've consid

[2022-02-14 11:09] #1239 closed

[2022-02-14 12:41] mturoci opened #1247 "Allow ui.text_annotator to be read-only"
via @pascal-pfeiffer

Allow for read-only mode for [text_annotator](https://wave.h2o.ai/docs/widgets/form/text_annotator/), preventing any user interaction.

[2022-02-14 15:06] Nayananga opened #1248 "Bottom bar of the table has a missing gap when resizing the screen"
#### Wave SDK Version, OS

0.19, macOS 11.6.3

#### Actual behavior

When table height has been set and resized, or smaller size screens have a wide table, and when a user needs to scroll right to see the hidden part of the table, the bottom bar of the table has a gap when the user scrolls to the right edge of the table.

#### Expected behavior

The bottom bar of the table should be consistent eve

[2022-02-14 22:49] mtanco commented on #1202
Can we move the documentation above the links? My only concern with the flat structure is that in a few releases the docs will be hidden.

Looks great otherwise!!

[2022-02-15 07:32] mturoci commented on #1202
@mtanco see [this PR](https://github.com/h2oai/wave/pull/1241) on the idea of how it looks, the one in this issue is out of date already. Also, there is one question for you in the PR.

[2022-02-16 00:12] g-eoj opened #1249 "Docs for conda install say h2o_wave instead of h2o-wave"
https://wave.h2o.ai/docs/installation
https://anaconda.org/h2oai/h2o-wave

[2022-02-16 00:13] g-eoj opened #1250 "Conda install fails for 0.20"
[code]

[2022-02-16 12:25] #1249 closed

[2022-02-16 14:09] #1248 closed

[2022-02-16 18:36] mtanco opened #1252 "Add examples in Layout Docs about the size value"
#### Is your feature request related to a problem? Please describe
Many H2O Wave power users have ran into and solved the following "problem":

**What you want**
![image](https://user-images.githubusercontent.com/4793561/154332266-0de9b67f-aca9-44b1-b7aa-b5ff5731cb66.png)
 **What you get**
![image](https://user-images.githubusercontent.com/4793561/154332385-962da778-56c4-413a-8a34-26128bef8f6d.png

[2022-02-17 03:04] #1215 closed

[2022-02-17 03:05] lo5 commented on #1215
Examples:
- https://github.com/h2oai/wave/blob/master/py/examples/plot_schema.py
- https://github.com/h2oai/wave/blob/master/py/examples/plot_schema_transpose.py

[2022-02-17 08:47] #1007 closed

[2022-02-17 09:52] ybabakhin commented on #1070
@mturoci thank you very much! Your proposed solution worked for us

[2022-02-17 09:52] #1070 closed

[2022-02-17 10:11] #1229 closed

[2022-02-17 10:14] #1202 closed

[2022-02-17 10:15] mturoci commented on #1218
Closed in https://github.com/h2oai/wave/commit/ca2a5fa39c4cffc9c3abf749d8a2244ace10af4e.

[2022-02-17 10:15] #1218 closed

[2022-02-17 21:21] mtanco commented on #1215
Thank you @lo5 !
I think this implementation does not have the outlier support: https://g2.antv.vision/en/examples/box/box#with-error is that something we can do too?

[2022-02-21 09:19] dulajra commented on #1250
Thanks for reporting. I will have a look at this after the initial release of the Admin Dashboard app.

[2022-02-21 09:53] #1188 closed

[2022-02-21 09:53] #1189 closed

[2022-02-21 12:48] mturoci commented on #1164
After further investigation with @psinger we came to the conclusion that the behavior depicted above is caused by the presence of tooltip.

Repro:
[code]

Click Select All.

[2022-02-21 19:20] lo5 opened #1257 "Unexpected header color when theme primary color is set to grey."
#### Wave SDK Version, OS

0.20.0

#### Actual behavior

This makes the header pink:

`ui.theme(name='grey_theme', primary='grey', text='#000000', card='#ffffff', page='#e2e2e2')`

See `--saturatedPrimary`:

![image](https://user-images.githubusercontent.com/6334572/155015071-1abad997-eae7-4531-bdf1-c1a498f96b3d.png)

#### Expected behavior

Header color derivation needs work.

[2022-02-21 19:27] mtanco commented on #1257
This impacts the side navigation bar too. Buttons with the `primary` attribute are the expected color.

Seems to only be impacting "grey" colors, I upon looking anything with blue, green, reds etc have the `themePrimary` and `saturatedPrimary` colors the same. But grey variations like `55555` and such are differing.

[2022-02-21 23:27] mtanco commented on #1216
@mturoci I got most of this to work (example code below), but have two points I would like clarity on:

* The order of the key is in the order that the values appear in the data, rather than the order of the `color_domain` parameter. Although users _could_ order their data appropriately I think it would be nice to honor the order of the `color_domain` automatically. Thoughts? If you're okay with i

[2022-02-22 02:46] ShehanIshanka opened #1260 "Empty multiple row selection in ui.table with ui.dialog"
#### Wave SDK Version - 0.19.0
#### OS - macOS version 11.2.3
#### Actual behavior

After multiple rows are selected from `ui table` with a `ui.dialog`, if a button is pressed to change something, then the selection will be empty although the `ui.table` value has the selected row list correctly.

**Scenario 1 - Table in a page**

[code]

https://user-images.githubusercontent.com/29954570/155052369

[2022-02-22 07:23] mturoci commented on #1216
I think this should be fine, feel free to open a feature request.

Tracked in https://github.com/h2oai/wave/issues/644

[2022-02-22 08:10] marek-mihok opened #1261 "Table column filter is not opened when clicking on filter icon"
#### Wave SDK Version, OS

Latest version in master; Chrome, Firefox, Safari

#### Actual behavior

Table column filter does not open when clicking on filter (chevron down) icon. It opens when clicking under the column title or on the place between title and chevron down icon. Please, see the example below:

https://user-images.githubusercontent.com/23740173/155089013-93426290-5e9a-4eed-b08e-6ab70

[2022-02-22 12:15] mturoci commented on #1260
The problem is you are redrawing your dialog contents on every render instead of drawing it just once. Please have a look at the correct implementation:

[code]

[2022-02-22 13:16] mturoci commented on #1257
TLDR: This can be special-cased, but we should think about whether saturation for spectrum colors/header/sidebar is a good idea - cc @lo5

### Long story

The reason this is happening for gray only is the fact the grayish colors HSL-wise have 0 hue, 0 saturation and only use lightness (to determine the shade of gray). What Wave does is:

* Look at the saturation of primary color.
* If it's > 50 (p

[2022-02-22 21:03] lo5 commented on #1257
Explicit color settings for the header/sidebar are fine, too.
As long as it's backwards-compatible.

[2022-02-23 17:31] ShehanIshanka commented on #1260
@mturoci Thank you and this solution seems working.

[2022-02-23 17:31] #1260 closed

[2022-02-24 20:41] DrRadan opened #1264 "Support for boxplots"
#### Description

Wave plots to support boxplots for data vizualisations

#### Alternatives

Use boxplots from other libraries

#### Additional context

![image](https://user-images.githubusercontent.com/7996773/155604016-29358773-f47b-4b61-a5e1-1d7ac250574e.png)

@sandruparo

[2022-02-24 21:06] DrRadan opened #1265 "Pop-up sidebar for uploads"
#### Description

Enable a  pop-up side bar element that can appear upon demand when the user wants to upload (a) data or (b) models. It could have the characteristics of a _transient_ page, so as to allow a variety of ui elements within it.

#### Describe the solution you'd like

- (When needed for the app workflow) The user should have the ability to bring up the pop-up side bar.
- The data and

[2022-02-24 21:45] DrRadan opened #1266 "Customizations to plots"
#### Description

Enable customization to plots such as defining transparency, fill color, line color etc.

![image](https://user-images.githubusercontent.com/7996773/155612958-48791d67-02ac-4adb-937a-806187cadb83.png)

[2022-02-24 21:59] DrRadan opened #1267 "Implement shankey plots"
#### Description

Shankey plots are very useful in showing flows such as in : patient distribution, cash allocation, marketing channel attribution.

They can be a useful visualization of unsupervised mapping, shapley values analysis etc

![image](https://user-images.githubusercontent.com/7996773/155614727-0f181450-4660-48e2-b9b7-3ac17969eb00.png)

[2022-02-24 22:10] DrRadan opened #1268 "Implement spider plots"
####Description

Spider plots are useful visualization aids for comparing features/groups along multiple dimensions.

![image](https://user-images.githubusercontent.com/7996773/155616002-a07792a0-3d54-494b-bac4-87815a7d702f.png)

[2022-02-24 22:17] mtanco commented on #940
It took six months but... they do not match. You'll notice the center card is a bit less bold than the 1st but more bold than the 3rd:
![image](https://user-images.githubusercontent.com/4793561/155616730-e9958d74-0477-4446-a504-34d69bbfbd11.png)

We can say that we won't update this, but they are different.

[code]

[2022-02-24 23:43] lo5 commented on #1268
Call `ui.mark(coord='polar', ...)` to switch from cartesian to polar coordinates.

For example, https://wave.h2o.ai/docs/examples/plot-line-groups when set to polar renders this:

![2022-02-24_15-36](https://user-images.githubusercontent.com/6334572/155625770-ccd334da-1529-465e-9647-fae404d3a40e.png)

[code]

[2022-02-25 00:00] lo5 commented on #1266
The plotting library already supports customizing fill/stroke color/opacity/line-dash for both marks and guides (reference lines).
See https://wave.h2o.ai/docs/api/ui#mark

For example, `ui.mark(..., fill_color='#ff0000', fill_opacity=0.5, ...)`.
Or shorter: `ui.mark(..., fill_color='rgba(255,0,0,0.5)', ...)`.

There are no plans to support shadows or gradients. Ref [chartjunk](https://en.wikipedi

[2022-02-25 00:05] lo5 commented on #1264
Duplicate of https://github.com/h2oai/wave/issues/1215
Will ship with v0.21.

[2022-02-25 00:06] lo5 commented on #1265
There's a modal side-panel available already.
https://wave.h2o.ai/docs/examples/meta-side-panel
Does that meet your needs?

[2022-02-25 01:23] mtanco opened #1269 "Respect Order of Color Domain"
#### Is your feature request related to a problem? Please describe
In the below example you can see that the order of the `color_range` and `color_domain` categories are such that `A` is blue and `B` is red. However, colors from the `color_range` list are assigned to the values of the `color` column based on the order that they appear in the data object. So in our key the fields and in the "wrong"

[2022-02-25 01:27] mtanco commented on #644
I would propose the hover value to be: `field: row` for all values - so if the user passed 6 fields and is plotting with two of them, all six pieces of information show on the hover. I'm not sure if this works for all `data` methods but it's what I would want as an end user

[2022-02-25 01:39] lo5 commented on #1269
In the plot above, A is blue, and B is red. The legend items are in the wrong order, which is odd, but the mapping is correct.

[2022-02-25 01:54] mtanco commented on #1267
This is my favorite plot and I would love to see a native solution, especially for theme reasons, but in the mean time you can use the plotly versions like so:

[code]

![image](https://user-images.githubusercontent.com/4793561/155638870-ae34c837-fea4-4f8d-83a8-73badf7557ce.png)

[2022-02-25 02:00] mtanco commented on #1269
You are totally right, I confused myself with the comment in #1267 where I first noticed this - it's just that the key is in an unexpected order.

[2022-02-25 16:22] johannes-becker-otto commented on #348
Hi,
in case this isn't settled yet.
My dream change to textbox would be a `enter_name` string attribute.
[code]
Then I could do
[code]
That would be great.
Cheers
Hannes

[2022-02-25 18:55] g-eoj opened #1270 "Inactivity Timeout for Auth"
#### Is your feature request related to a problem? Please describe

For security certification, we need to provide a mechanism to log out users after a defined period of inactivity.

[2022-02-25 18:56] g-eoj opened #1271 "Support PAM Auth"
#### Describe the solution you'd like

Use PAM for authentication.

#### Describe alternatives you've considered

Putting Wave server behind nginx where nginix handles auth.

[2022-02-25 23:39] mtanco commented on #1271
@tkmaker do you remember why we closed #446 or #577

[2022-02-27 21:21] lo5 commented on #982
Closed:
https://github.com/encode/httpx/pull/1948
https://github.com/encode/httpx/issues/838

[2022-02-28 15:56] johannes-becker-otto opened #1272 "More precise definition of -oidc-skip-login"
Hello,

I am not sure if -oidc-skip-login
a) ignores the login
b) skips the step where I would need to push a "Log In using OpenID Connect" button

Maybe that could be added to https://wave.h2o.ai/docs/security ?

All the best
Hannes

[2022-02-28 20:23] mtanco commented on #1270
**User Stories:**
As a security admin, I want to ensure that sensitive information is not accessed because an end-user left a screen up.
As an end user, I want to be able to access the results of jobs which may take a long time to run.
   - **Information Needed: ** If a user has not interacted with the app for 30 minutes, but the app has long running jobs still running, does this count as idle? If

[2022-03-01 10:28] pascal-pfeiffer opened #1273 "Add an option that users can override min and/or max values of sliders"
#### Is your feature request related to a problem? Please describe

I like the Slider as a very user friendly and visually appealing input format. In most cases it makes sense to force the input into a fixed range of min and max value, but in some cases those min and max values may rather be a suggestion to the user and the user should be able to override that suggestion. There is currently no way

[2022-03-02 07:15] mturoci commented on #1273
Hi @pascal-pfeiffer. Can you provide some real-world usage examples of such sliders? As far as I am aware, sliders shall be used when an approximate value from a predefined range is needed.

If you want to collect an arbitrary value, you can use a regular `ui.textbox` with a tooltip containing recommendations.

[2022-03-02 09:16] #1273 closed

[2022-03-02 19:02] marek-mihok opened #1276 "Table column filter opens on right click for non-filterable columns"
#### Wave SDK Version, OS

Latest version in master; Chrome, Firefox, Safari

#### Actual behavior

Table column filter opens on right click even if column is not filterable. Please, see the example below:

https://user-images.githubusercontent.com/23740173/156429591-9f10b8cb-e63e-4378-bfcd-9fb8d1f511cd.mov

#### Expected behavior

Table column filter is disabled on right click for non-filterable

[2022-03-02 19:46] lo5 commented on #1273
@pascal-pfeiffer A spinbox might be a good alternative to textboxes for numeric inputs: https://wave.h2o.ai/docs/widgets/form/spinbox

[2022-03-02 20:02] #1272 closed

[2022-03-02 20:03] lo5 commented on #1272
@johannes-becker-otto - Thanks for pointing out. Fixed docs.

`-oidc-skip-login` skips the built-in *Log In using OpenID Connect* form.

[2022-03-03 07:17] dulajra opened #1277 "bug: ui.dialog closable option is not working properly"
#### Wave SDK Version, OS

0.19.0

#### Actual behavior

`X` button is visible and active when

[code]

<img width="637" alt="Screenshot 2022-03-03 at 12 46 46" src="https://user-images.githubusercontent.com/12434380/156515396-deb2a04e-7efc-4bad-9824-c89d459b677e.png">

#### Expected behavior

`X` button should not be visible and the user shouldn't be able to close the dialog when `closable` optio

[2022-03-03 07:48] johannes-becker-otto commented on #1272
Hi @lo5
thanks! So I understand it as simply skipping the form - but you still need to have the correct user roles and such, right?
(It might just be me not really knowing how OIDC works...)
All the best
Hannes

[2022-03-04 07:27] mturoci opened #1280 "Set Static Values for Plot Key"
via @mtanco

### Discussed in https://github.com/h2oai/wave/discussions/1279

<div type='discussions-op-text'>

<sup>Originally posted by **mtanco** March  4, 2022</sup>
In a lot of data-display use cases there may be a possible minimum or maximum value for counts the dataset that never changes regardless of what specific data we are looking at. For example, in confusion matrix's each square in th

[2022-03-04 11:16] mturoci commented on #730
According to https://github.com/microsoft/fluentui/issues/14242, it seems like Fluent does not have native support for the proposed `trigger_on_scroll` just yet. For the sake of time, I suggest going with regular pagination support for now, leaving this for the future - cc @lo5 @mtanco

[2022-03-04 13:52] mturoci commented on #887
Resolved by 4d7a3c80fc6eaac83f55b7a10cc5e6592d966ee4

[2022-03-04 13:52] #887 closed

[2022-03-08 11:34] mturoci commented on #1261
Closed in #1283

[2022-03-08 11:34] #1261 closed

[2022-03-09 07:29] mturoci opened #1287 "Grouped by rows are not sortable"
#### Steps To Reproduce

1. Run `examples.table`
2. Group by Issue
3. Sort by Issue
4. Try to expand groups - you should see no data rows there.

It would be good to also think about what's the best UX when sorting rows during group by. There are 2 options:

* Keep groups in the order they are displayed and sort rows only within the context of a particular group.
* Sort rows in the context of rows

[2022-03-09 17:41] mtanco opened #1288 "Wave Server not always installed from pip"
pip 20.1.1 - downloads the `any-none` wheel file. This version of pip is the default when I create a new python3.6 virtual environment.

pip 21.1.1 downloads the appropriate version

[2022-03-09 22:16] mtanco opened #1289 "Unable to see Command in Light Theme"
#### Wave SDK Version, OS
0.20.0

#### Actual behavior
Unable to see the commands option in the `light` theme
![image](https://user-images.githubusercontent.com/4793561/157546108-94d8eedd-17ae-4037-b3e9-c9c12d9b41fa.png)

[2022-03-10 08:14] mturoci commented on #1289
What widget is this from?

[2022-03-10 08:22] mturoci commented on #1288
@mtanco what are you exact python and OS versions? Seems like I am able to get the correct wheel file even with python `3.6.4` and pip `9.0.1` on MacOS `10.15.7` (Catalina). Trying to come up with a reliable versions matrix to include in installation docs. The general recommendation is to use the latest pip version though.

![image](https://user-images.githubusercontent.com/64769322/157618497-92de

[2022-03-10 08:27] mturoci commented on #1288
Can you also please try specifying the `platform` arg? Could be a possible escape hatch as well.

[code]

[2022-03-10 18:51] jfarland opened #1292 "Align y-axis scales for plots with more than one mark type"
When plotting two different mark types on the same plot, the y-axis aren't guaranteed to be the same scale, even by setting the y_min / y_max consistently.  One way to do this would be to introduce another parameter to control major tick interval.

Here's some example code:

[code]

And the result:

![image](https://user-images.githubusercontent.com/2989937/157734066-f3e19a75-d04c-4d8c-9e98-0a7b77

[2022-03-12 00:06] mtanco opened #1294 "Improve docs string for dialog events"
#### Is your feature request related to a problem? Please describe
The current docs string for the ui.dialog events parameter is `events – The events to capture on this dialog`. However, there is a specific list of events that can be captured but this isn't documented making it hard for the user to know how to use this feature.

#### Describe the solution you'd like
Change the description to `even

[2022-03-12 01:20] mtanco opened #1295 "Support for Network Graph Plots"
#### Is your feature request related to a problem? Please describe
Users can add plotly or other library plots to their apps when they need a network graph, but they don't get the benefit of of app-theming or automatic handling of events.

#### Describe the solution you'd like
Native support for graph datasets with nodes and edges

#### Additional context
Details to come as needed

[2022-03-14 01:08] mtanco commented on #1289
oops, ui.header

[2022-03-14 01:09] mtanco commented on #1289
I did `items=[ui.menu]` instead, but since the header card does have the `commands` option it would be good to view it well.

[2022-03-15 07:35] #1196 closed

[2022-03-16 12:20] #1276 closed

[2022-03-16 17:28] mtanco opened #1298 "Zoom for Plots"
Look into using our underlying library to add zoom on plots

[2022-03-16 21:59] mtanco opened #1300 "Dates off by 1 day when using x_scale in plots"
#### Wave SDK Version, OS
0.20.0

#### Actual behavior
When using `x_scale='time'` in `ui.plot()`, dates are displayed one day earlier than expected. Could this be related to #1098?

#### Steps To Reproduce
Run the below code which starts on `2022-01-01` but in the plot starts on `2021-12-31`. Remove the `x_scale` parameter to get the plot with the expected data.

![image](https://user-images.gith

[2022-03-18 07:58] mturoci commented on #1257
They would be backward compatible, my only concern is that when people will be able to pick any arbitrary color, it might result in disaster considering they are usually not UI developers, but AI people.

What do you think about providing only primary/card/transparent color options without further saturation tweaks?

[2022-03-18 20:33] mtanco commented on #537
@mturoci Hit this again today on dataset with a column called `Churn?`

It would be great if Plot could support all punctuation in column names, but if this is not feasible, could we please add a check and present the user with an error message?

[2022-03-21 07:48] mturoci commented on #537
I guess it shouldn't be a problem for any of the options, just not sure what is the general practice - cc @lo5

[2022-03-21 12:39] shihan007 commented on #215
@mturoci For model monitoring we need this feature. Adding a button, icon as action
![Screenshot 2022-03-21 at 14 45 25](https://user-images.githubusercontent.com/38729017/159262561-60328329-76da-43f6-9563-7f5b010c4831.png)

cc: @shereezhang @iamabhishekmathur @mtanco

[2022-03-23 10:38] #1300 closed

[2022-03-23 13:09] ranjithh opened #1304 "Navigate to specific card within a page"
As part of Gene Mutation AI app, we show the cancer risk predictions and model explanations in a page, one below the other. Since there are a lot of items in the results it would be nice to have a navigation bar that helps navigate user to specific card within the results page. Currently, upon clicking an item in the navigation bar takes us to a new page, instead the feature request is that upon c

[2022-03-23 17:24] mtanco opened #1305 "Default Grouped Table"
#### Is your feature request related to a problem? Please describe
There are many times when we might want to show tabular data to our users with a known, multi-column grouped structure. Today, we can ask users to group themselves and we have a non-grouped table where we just order the data how we want ahead of time, but we can't really show specific, grouped data

#### Describe the solution you'd

[2022-03-23 22:57] mtanco opened #1307 "Text of all items in the Header Card to match Title"
#### Wave SDK Version, OS
Wave 0.20.0

#### Actual behavior
It seems that items don't know they're "in the header" and have the default color for labels which makes them hard to read
<img width="1542" alt="image" src="https://user-images.githubusercontent.com/4793561/159809772-101b80e4-79d1-4963-9a5a-e30f262907d4.png">

[2022-03-24 03:56] shihan007 commented on #1305
Another use case
![Dataset Management – expand](https://user-images.githubusercontent.com/38729017/159839098-e7bc86a1-c827-4f3d-9625-89d867daeaeb.png)

[2022-03-24 08:34] mturoci opened #1308 "Add height attribute to ui.copyable_text if multiline is True"
### Discussed in https://github.com/h2oai/wave/discussions/1302

<div type='discussions-op-text'>

<sup>Originally posted by **azim-b** March 22, 2022</sup>
can we add a `height` param to the `ui.copyable_text()` component?

Example use case:
- text box of certain height
- user enters text and hits Submit
- if the query was successfully, user gets back a "copyable text box" of same height (i.e. `u

[2022-03-24 10:23] mturoci commented on #1307
Good catch @mtanco!

[2022-03-24 10:47] #1307 closed

[2022-03-25 13:43] #515 closed

[2022-03-28 10:06] marek-mihok commented on #1277
Thanks for your report, @dulajra! It should be fixed in v0.20.0, therefore I am closing this issue. If the problem persists there, please reopen this issue.

[2022-03-28 10:06] #1277 closed

[2022-03-29 08:06] johannes-becker-otto opened #1312 "Placeholder text color too similar to real text"
Hello everyone,

since I first used h2o wave, it really startled me, how similar text and placeholder font color are.

![image](https://user-images.githubusercontent.com/97096714/160561679-9ef3fb24-24cf-4428-a199-5f05f0a49ec3.png)

For two text boxes so close to each other it is visible, but if you have more Textboxes more spread out it's hard to figure out what's going on.
For all other apps I kn

[2022-03-29 09:14] offensperger-agnes opened #1313 "other format for downloadable table"
#### Is your feature request related to a problem? Please describe

Our users have problems with the CSV format when they export or download the shown table data. I haven't found an easy solution to this problem within the H2O Wave documentation.

#### Describe the solution you'd like

Is it possible to have csv as the default export format and maybe xlsx as another option?

#### Describe alternat

[2022-03-29 14:47] mturoci opened #1314 "Display sorting icons only if sort is active"
via @mtanco

Our current Wave table tries to explicitly show users which columns are sortable by displaying an arrow icon. However, this may conflict with assumption that it represents the sort direction the data is sorted by default (which is not true).

According to both [aggrid](https://www.ag-grid.com/example.php) and [material design](https://material.angular.io/components/table/overview#sort

[2022-03-29 16:18] mturoci commented on #1313
Hi Agnes,

thanks for reaching out. This is not currently possible within `ui.table`. The next Wave version will allow you to control basically all the aspects of the table, including download, so I assume this should cover your needs.

I will not close the issue though as it might be still useful for the current (client-side) table. What exactly do you need to have different in comparison to the

[2022-03-30 07:30] ranjithh commented on #1268
Thamls Prithvi.. The feature labels seems to be hidden and is available upon hover.. Is there a param in ui.mark(..) to make the feature names visible upfront ?

[2022-03-30 09:21] johannes-becker-otto commented on #1313
Hi @lo5 ,
the problem might simply be that German csv's use ";" as separators and "," as decimals - so simple "open File with Excel" is bound to fail...
Cheers
Hannes

[2022-03-30 09:27] mturoci commented on #1294
Apply the same for side panel as well.

[2022-03-30 12:11] DrRadan commented on #1264
The latestt UX for Gene Mutation AI requires this component (closed in #1215).  Is there a release date for it?

[2022-03-30 17:34] lo5 commented on #1257
Sure. What would the API look like (i.e. how would the author specify the colors)?

[2022-03-31 07:11] #1298 closed

[2022-03-31 07:20] mturoci commented on #1257
The API would be the same (union type) and the user would get exactly what they asked for (no saturation tweaks).

[code]

[2022-03-31 07:43] #961 closed

[2022-03-31 09:04] #1164 closed

[2022-03-31 09:59] #1294 closed

[2022-03-31 12:42] marek-mihok commented on #1287
I would go with the first option. There are several reasons from different perspectives:
- The purpose of sort is to make order in data to make it more clear to read for user. In general, there will be fewer groups than rows (that's the purpose of groups - to group rows that have something in common into fewer units). The conclusion here is that we can bring more order by sorting rows.
- User is u

[2022-03-31 12:51] #805 closed

[2022-04-01 04:44] codeananda commented on #1250
The following also fails:

[code]
But this works for me on Mac.

[code]

But note that wave does not work as expected. I was following [your tutorial](https://h2o.ai/blog/setting-up-your-local-machine-for-h2o-ai-cloud-wave-app-development/) and got the following error even though I had wave=0.20.0 installed via conda.

[code]

I had to uninstall wave and reinstall via pip. Then `wave run app.py` w

[2022-04-01 05:09] codeananda opened #1319 "Make it easier to open the wave app from terminal"
I'm following [your tutorial](https://h2o.ai/blog/setting-up-your-local-machine-for-h2o-ai-cloud-wave-app-development/) on making your first wave app. It tells me that I can open my app at localhost:10101/demo which is true.

But when I run `$ wave run app.py` there is nothing in the output telling me to go to the above web address. Indeed, I would have no idea how to open the app unless I looked

[2022-04-04 07:35] #1257 closed

[2022-04-04 10:23] mturoci opened #1323 "Image annotator component"
via @dott1718

Similar to the text annotation component https://github.com/h2oai/wave/issues/227, the box annotation component should have three major properties:

* image
* tags: list of tags
* items: list of boxes

The image is displayed as a background. The tags are rendered as clickable elements that tag the highlighted boxes. The items are rendered as semi-transparent colored rectangles and c

[2022-04-04 13:38] #1287 closed

[2022-04-05 06:57] mturoci opened #1326 "Make custom groups work with paginated table."
via @marek-mihok

Allow dynamically updating table groups (same as table rows). Repro code that needs to work:

[code]

## Implementation notes

Something in the lines of `React.useEffect(() => initGroups(), [initGroups, m.groups])` should work.

[2022-04-05 07:52] #730 closed

[2022-04-05 09:38] #1326 closed

[2022-04-05 12:35] mturoci opened #1329 "Allow specifying path for button"
### Discussed in https://github.com/h2oai/wave/discussions/1318

Add a `path` prop to button which opens an external URL in a new tab after clicking.

[2022-04-05 23:06] mtanco commented on #1319
To take this a step further, the user's default browser could be opened in the link similar to Juypter Notebooks

[2022-04-06 14:49] codeananda commented on #1319
Yes! This is a much slicker solution!

[2022-04-06 16:56] g-eoj commented on #1270
Inactive means no user interaction with the server for x amount of time. Timing out at the server level is fine. We just need to be able to say the server will logout the user after x amount of time. The app/server should continue to run but the user will need to login again to access it.

Here's how the wave app/server will be run:
- wave server in a container
- wave will be configured for oidc
-

[2022-04-07 11:58] marek-mihok opened #1331 "Modify return value for line plot event"
This feature request is created based on description of [Issue 644](https://github.com/h2oai/wave/issues/644) reported by @fousasg.

So what we want is to have return value for line plot event to be just left and right point of the clicked line segment instead of the whole line.

[2022-04-07 13:53] mtanco opened #1335 "GitHub Actions for Tagged Releases of Example Apps"
#### Is your feature request related to a problem? Please describe
We turn the example apps that come with Wave (Dashboards, Tour, Theme Generator) into App Bundles that can be deployed in an H2O AI Cloud environment. This is a manual process today that happens for each Wave release and currently we're making the new bundle but it's not a specific tagged release or in S3. This can make getting the

[2022-04-11 08:19] mturoci commented on #1335
@mtanco can you please provide all the necessary assets for `Theme generator` app? Similar to the 2 repos you linked for Tour and Dashboards.

[2022-04-12 04:41] codeananda opened #1341 "Dropdown menus not working as expected"
I have created pages `input` and `output`. I want to select the `input` from the dropdown menu and render it as text in the `output` page. This does not work very well.

If I do not set an initial `ui.dropdown(value=???)`, `input` remains blank even if I select items. If I select items, they are successfully rendered in `ouput`. Here we see 'max' is displayed.

Desired behavior: `input` should be

[2022-04-12 04:59] codeananda opened #1343 "Make it easy to print to the app!"
Yesterday was my first day using wave and I spent 5 hours pulling my hair out and feeling very confused.

One thing I found particularly frustrating was that you cannot easily print info directly to the app. If you run `print()` from your .py file it prints to the terminal which gets clogged with loads of other output so it's hard to tell what is happening.

For example, when loading a dataframe,

[2022-04-12 06:17] aalencar commented on #1341
By setting `trigger` you push the changes to the server on every selection and your code is recreating the card with the same value.

Try this instead:

[code]

![2022-04-12 08 16 47](https://user-images.githubusercontent.com/15820796/162893227-7960ccbe-a0cb-4aa7-8aa8-3d7dfa5ae8ac.gif)

[2022-04-12 11:24] mturoci commented on #1343
Hi @codeananda, you can set `H2O_WAVE_NO_LOG`. This way you can see your print statements easier. See [configuration docs](https://wave.h2o.ai/docs/configuration/) for more useful features.

You can use any logging mechanism as you wish. See [our docs](https://wave.h2o.ai/docs/logging/) for an example.

[2022-04-12 11:29] mturoci commented on #1341
Or even better, update instead of recreate:

[code]

[2022-04-13 07:18] #1335 closed

[2022-04-13 07:24] aalencar commented on #215
@shihan007 can you confirm if #897 solves this issue?

[2022-04-13 14:52] aalencar opened #1349 "Missing placeholder for dropdown with dialog"
via [azim-b](https://github.com/azim-b)

#### Actual behavior

Provided placeholder doesn't show up in the dropdown text input field when the dialog is enabled.

#### Expected behavior

Display placeholder.

#### Steps To Reproduce

[code]

[2022-04-13 17:04] Rmfjd1978 opened #1351 "Image cards"
Is it possible to put image_cards side by side?

[2022-04-14 07:03] codeananda commented on #1341
This is exactly what I was looking for! Got confused with all the `name` params in `ui.form_card`...

[2022-04-14 11:57] mturoci commented on #1351
Sure:

[code]

![image](https://user-images.githubusercontent.com/64769322/163385863-a4819ea3-9089-46ff-be33-f66354ef354e.png)

@Rmfjd1978 please use our [GH discussions](https://github.com/h2oai/wave/discussions) for similar questions in future.

[2022-04-14 11:57] #1341 closed

[2022-04-14 13:14] #1349 closed

[2022-04-15 17:13] fatihozturkh2o opened #1353 "Timeout doesn't work in notification_bar"
#### Wave SDK Version, OS

Wave 0.21, MacOS

### Actual behavior

I've been playing with this new notification_bar component and it seems quite handy! The issue is, whenever I pass a "timeout" value in the component, the notification card pops-up and disappears so quickly. It doesn't stay for time length passed via "timeout"

###  Expected behavior

I'd expect notification bars to stay for the tim

[2022-04-16 07:41] huangxin168 commented on #1319
Dash have this feature like[  localhost:10101/demo](url) displayed in the console, very convinient.

[2022-04-18 09:49] codeananda opened #1356 "Reduce white space between plots / add multiple plots to one frame card"
I want to add several plotly plots in a column but there is so much white space both in the frame cards themselves and between the cards.

- How can I increase the amount of space the plots take up in each frame card?
- How can I reduce the amount of white space between plots? Best solution I can think of is to add multiple plots to one frame card. Is this possible?
- Lastly, are frame cards the r

[2022-04-18 09:57] pascal-pfeiffer opened #1357 "Allow character level annotations in ui.text_annotator"
#### Is your feature request related to a problem? Please describe

Currently, the ui.text_annotator widget has a smart algorithm included that extends the annotations to full words. This puts limitations on the granularity of the annotations.

If I have a text, that is badly formatted e.g. `This cityNYC<3 is awesome` and I only want the word `NYC` to be annotated, it's currently not possible.

##

[2022-04-18 10:03] pascal-pfeiffer opened #1358 "Let ui.text_annotator respect \n and \r in text"
#### Is your feature request related to a problem? Please describe

Currently, `ui.text_annotator` strips off any `\n` `\r` in the text prior to rendering. This makes formatted texts to appear in a single line and additionally results in wrong character level offsets for the annotations (possible bug).

#### Describe the solution you'd like

Let `ui.text_annotator` respect `\n` and `\r` in text fo

[2022-04-19 07:10] #1351 closed

[2022-04-19 07:14] mturoci commented on #1353
Oops, seems like I forgot to make conversion from `ms` to `s`. For the code above, using `5000` instead of `5` should be a tmp workaround until the next version. => Will fix.

Yes, that's by design - if `buttons` are present, it indicates a user action is needed and we do not want to hide the notification before they have a chance to perform the action. See the [docs](https://wave.h2o.ai/docs/widg

[2022-04-19 09:04] #1217 closed

[2022-04-19 09:09] mturoci commented on #1096
Implemented as part of #515, available in 0.21

[2022-04-19 09:09] #1096 closed

[2022-04-19 09:15] #1353 closed

[2022-04-19 09:35] Far0n commented on #1353
@mturoci I see that this behavior is intentional in its current form. But why not giving the programmer the control here. He could still achieve the current behavior by setting timout to -1 or None. Wondering, because we have a use-case where we actually want the notification to disappear when the user did not take any action after N seconds.

[2022-04-19 15:30] Rmfjd1978 opened #1361 "Create ui.text"
i have this text "Tipo de negociação: TESTE		 Em litígio judicial: Não" and put it in ui.text component (through content parameter)
what i seen on the screen is "Tipo de negociação: TESTE Em litígio judicial: Não" it is removing the spaces in the midle, how can solve this?

[2022-04-20 06:47] #1361 closed, assigned to nobody

[2022-04-20 08:47] #1329 closed

[2022-04-20 08:50] #596 closed

[2022-04-20 12:54] #1252 closed

[2022-04-20 13:53] #1247 closed

[2022-04-20 13:56] #1314 closed

[2022-04-20 16:30] mturoci opened #1366 "Allow turning off timeout in notification bar"
via @Far0n @fatihozturkh2o

Currently, the notification bar does not close automatically when it has `buttons` specified, but it seems this UX is not suited for everyone. Let's change this behavior and close the notification bar after a specified timeout regardless of `buttons` presence.

Also allow for turning off the timeout by setting it to `-1`.

Implementation note: Do not forget to update do

[2022-04-20 16:31] mturoci commented on #1353
I think there would be no harm in doing that. Tracked in https://github.com/h2oai/wave/issues/1366

[2022-04-20 18:37] Nayananga opened #1367 "lable_fill_colour is not getting applied for line plot"
#### Wave SDK Version, OS

(e.g. 0.20.0, macOS)

#### Actual behavior

I want to change the `label_fill_color` attribute of a line plot, But the label fill color sticks with the same color regardless of the value set.

#### Expected behavior

label fill color should change according to the value set in the Mark class

#### Steps To Reproduce

1. use code example [here](https://wave.h2o.ai/docs/wid

[2022-04-20 20:55] azim-b commented on #1343
Hi @codeananda, you can also write logs to a file, and view the tail of a file with `-f` option so that you only see your logs and the tail is automatically updated.

Ex: `tail -f my_wave_app.log`

Also, like @mturoci mentioned, setting `H2O_WAVE_NO_LOG` to True was quite helpful for me.

[2022-04-21 06:35] dilithjay opened #1369 "Markdown table not displayed in `ui.text()`"
#### Wave SDK Version, OS

Wave 0.21.0, macOS

#### Actual behavior

The table isn't formatted properly
![image](https://user-images.githubusercontent.com/54039395/164388575-c9618a7c-7a28-4fcd-8923-34b2b1ad5d7a.png)

#### Expected behavior

A formatted markdown table as below (worked in Wave 0.20):
![image](https://user-images.githubusercontent.com/54039395/164388870-7b126e0f-ea42-4d33-b877-b3669b

[2022-04-21 06:49] dilithjay commented on #1369
Fixed by this change: https://github.com/h2oai/wave/commit/3a1d6282c22ce36deec2725c835a3b28211ff63f

[2022-04-21 06:49] #1369 closed

[2022-04-21 06:54] mturoci commented on #1367
Can you verify this is a problem on 0.21 as well?

I get this

<img width="592" alt="image" src="https://user-images.githubusercontent.com/64769322/164392253-b5c10a92-041d-4be7-80d3-cce5ca45ff38.png">

using

[code]

[2022-04-21 06:59] huangxin168 opened #1370 "Allow alignment for ui.text"
#### Is your feature request related to a problem? Please describe

I am using HO2 wave to make a web app which need to collate the text to captured subtile images:

![image](https://user-images.githubusercontent.com/76834219/164392627-081655ab-b92b-43fc-9cf4-5139e68e5bc0.png)

but textbox dont have a centered alignment option yet.

#### Describe the solution you'd like

Need start/end/center alig

[2022-04-21 08:36] huangxin168 opened #1371 "Right-click menu in table"
On this site: [](https://chart-studio.plotly.com/create/#/)
cloumn and cell selection is supported, and have a custom right-click menu:

![image](https://user-images.githubusercontent.com/76834219/164413863-dfa40072-f652-4894-9769-f04273645e19.png)

Can H2O-wave have a plan to support these features?

[2022-04-21 08:38] huangxin168 commented on #1371
infact, I need the feature of 'Create traces from selection(column)', Dash plotly don't support this right now.

[2022-04-21 08:40] huangxin168 commented on #1371
https://chart-studio.plotly.com/create/#/   (sorry, here is the site)

[2022-04-21 10:07] huangxin168 commented on #1371
It seams that I have to use external javascript code for this?

[2022-04-21 13:49] mtanco commented on #1370
While being implemented, you can use `html` as needed:

[code]

[2022-04-21 16:12] mtanco commented on #1370
@mturoci looks like the interest is `ui.textbox` rather than text.

@huangxin168 can you share if you would like the textbox to be in the center of a card or if you would like the text itself to be in the center of a textbox (this second one seems a little unusual to me)

[2022-04-21 16:47] huangxin168 commented on #1370
@mtanco  I would like the text itself to be in the center of a textbox(the second one)

[2022-04-22 05:43] codeananda opened #1374 "Stop plotly printing to terminal"
#### Wave SDK Version, OS

Wave 0.21.0 (installed via pip)
Python 3.10.4
Conda package manager
Mac

#### Actual behavior

When displaying plotly plots in wave, the data used and HTML created are printed to the terminal. This makes debugging the app from the terminal impossible if using anything more than a few hundred datapoints.

Minimal code example to reproduce

[code]

Terminal output

Note: H

[2022-04-22 05:45] senalw opened #1375 "ui.text doesn't allow to have `_` in the beginning and end of the text content at the same time."
Wave SDK Version : 0.20.0
OS : MacOS Monterey

In wave text component `ui.text_xl(content="_test_", width="300px")` removes `_` from the text and visible as below when  `_` is there in the beginning and end of the text content at the same time.

<img width="532" alt="Screenshot 2022-04-22 at 10 46 04" src="https://user-images.githubusercontent.com/12801761/164610307-329a1f0b-9eb5-4d53-b627-f639fe8

[2022-04-22 05:54] codeananda commented on #1343
@mtanco I meant printing to the app itself. One reason for this is that I'm using plotly and this makes using the terminal for debugging impossible (see #1374 I just opened).

I've also been developing locally so wasn't worrying about other people seeing what I push to the app.

@mturoci thanks for the `H2O_WAVE_NO_LOG` point. Alas, it didn't solve my problem due to #1374.

@azim-b Being honest, I

[2022-04-22 07:10] mturoci commented on #1375
This is a markdown feature, not a bug. If a word is surrounded with `_`, it means to turn it to itallic (like in your pic). To prevent this, you need to escape the underscores so instead of `_word_` use `\_word_`.

[2022-04-22 07:10] #1375 closed

[2022-04-22 07:32] mturoci commented on #1374
Are you sure you have the `H2O_WAVE_NO_LOG` set correctly?

![image](https://user-images.githubusercontent.com/64769322/164628226-846e2824-2ec5-4727-8223-5dc3b70b703c.png)

Can you send me a similar screenshot?

[2022-04-22 07:35] mturoci opened #1376 "Unnecessary scrollbar in ui.stats"
### Discussed in https://github.com/h2oai/wave/discussions/1368

<div type='discussions-op-text'>

<sup>Originally posted by **azim-b** April 20, 2022</sup>
broswer: Safari Version 15.2
Wave version 0.21.0

Issue: `ui.stats()` rendering a scroll bar. Example:

![image](https://user-images.githubusercontent.com/64787868/164319922-2b754ee3-345b-4ffb-8664-5f8284692971.png)

Example 2:

<img width="62

[2022-04-22 07:40] mturoci commented on #1370
Hm... we will probably not support alignment for `ui.textbox`. It would be odd if `ui.textbox` had suddenly different alignment than the rest of form elements (dropdowns, comboboxes etc.)

However, if you really want it, you can use custom CSS to style it the way you want.
See:
https://wave.h2o.ai/docs/examples/meta-inline-stylesheet/ for an example.

Leaving the issue open though as `ui.text` ali

[2022-04-22 13:03] #897 closed

[2022-04-22 13:09] mturoci opened #1379 "Allow using TableColumn.link for multiline tables"
via @srini-x

## Goal

![image](https://user-images.githubusercontent.com/64769322/164720473-84a36e20-5a16-4890-be02-815880846f33.png)

## Proposal

If `Tablecol.link` is specified explicitly, render it regardless of selection type. Leave the behavior as is otherwise. Note that these links should populate q.args, not open external HTTP URLS.

[2022-04-22 13:10] #567 closed

[2022-04-22 13:11] mturoci commented on #428
Related https://github.com/h2oai/wave/issues/1379

[2022-04-22 15:30] lo5 commented on #1379
Is this issue asking for something different from https://github.com/h2oai/wave/issues/428?

[2022-04-22 17:51] aravind-viswanathan opened #1380 "OIDC - Additional Parameters to the OIDC Provider"
#### Is your feature request related to a problem? Please describe

We have a IDP Proxy (Keycloak) setup with IDP configured. There is a default IDP already configured and is taken as default for all login requests to the realm.  For the new application, we would need to configure a new IDP and this would be used exclusively by this application. In Keycloak,  we can ask for a particular IDP by sen

[2022-04-22 19:29] Nayananga commented on #1367
For the new wave 0.21.0 version, property works fine
<img width="707" alt="Screenshot 2022-04-23 at 00 58 37" src="https://user-images.githubusercontent.com/25351304/164781568-e195127b-ee8d-4a12-8c2b-e2209ad74664.png">

[2022-04-22 19:29] #1367 closed

[2022-04-23 15:10] huangxin168 commented on #1370
@[mturoci](https://github.com/mturoci) Thanks for you suggestion.
style = '''
textarea {
  text-align:center;
}
'''
page['meta'] = ui.meta_card(box='', stylesheet=ui.inline_stylesheet(style))

[2022-04-23 15:43] huangxin168 opened #1385 "textbox's scrollbar and text overflow when height is set"
#### Actual behavior

[code]
when height= is set, textbox resize makes scrollbar and text overflow.
![image](https://user-images.githubusercontent.com/76834219/164913137-726c9c0d-ffeb-4197-86e2-b2182bb9f70e.png)

#### Expected behavior

no overflow

#### Steps To Reproduce

[2022-04-25 06:43] mturoci commented on #1379
This issue is dealing with setting `q.args` (in multiselect table context).
#428 asks for allowing to handle external URLs (http://example.com)

[2022-04-25 06:53] mturoci opened #1386 "Fire dismissed event when notification bar is closed."
### Discussed in https://github.com/h2oai/wave/discussions/1381

<div type='discussions-op-text'>

<sup>Originally posted by **Nayananga** April 22, 2022</sup>
I have set up a notification_bar in my app. I call this function when there is an error happened

[code]

Can I set it to none when it is dismissed after timeout? because it keeps a popup for every other page. (I assume it triggers a dismis

[2022-04-25 09:33] johannes-becker-otto commented on #1313
Hi @mturoci
'The next Wave version will allow you to control basically all the aspects of the table, including download, so I assume this should cover your needs.'
Is this in 0.21.0? How does this work?
Cheers
Hannes

[2022-04-25 09:36] mturoci commented on #1313
See https://wave.h2o.ai/docs/examples/table-pagination-download.

[2022-04-25 09:45] johannes-becker-otto commented on #1313
Sorry, I did not scroll far enough in the docs...

[2022-04-25 09:58] mturoci commented on #1313
Np, it's a bit hidden. We should probably put it into widgets table section under something like "custom table download".

[2022-04-25 21:16] mtanco opened #1388 "Multiline Textbox for Code"
#### Is your feature request related to a problem? Please describe
Multiline textboxes often display code and let the end user write or modify the code. Today, all text is the default font

<img width="1658" alt="image" src="https://user-images.githubusercontent.com/4793561/165176183-e3bfef23-c6e6-44d9-96ee-07e1e2e36f10.png">

#### Describe the solution you'd like
Ideally, being able to select a l

[2022-04-26 18:25] lo5 commented on #1380
If I understand correctly, in summary, you're asking for a mechanism where you can specify a set of key-value pairs to be passed to the OIDC provider?

Are all the key-value pairs passed as URL arguments, or can there be situations where this might be different?

[2022-04-27 01:27] mtanco commented on #1374
👋 @codeananda I personally like to turn the server logs completely off instead of just turned down a little - so I use `H2O_WAVE_NO_LOG=True ./venv/bin/wave run app.py` when running apps, in case that helps

[2022-04-27 01:48] mtanco commented on #1343
It would need to be custom, since in general Wave is focused on building web apps, but here are some functions for "logging" to your screen:

[code]
![image](https://user-images.githubusercontent.com/4793561/165421993-590649a4-10f9-4748-ab99-88f29fa21b46.png)

[2022-04-27 02:53] aravind-viswanathan commented on #1380
Yes, thats definitely another way to put it.

These need to be passed as part of the authorize GET requests mostly and hence would be URL query params.

[2022-04-27 06:59] #31 closed

[2022-04-28 14:47] azim-b commented on #1376
@mturoci any ETA for this fix? all `ui.stat()`s are rendering the scroll bar, so we may have to downgrade h2o_wave to v0.20.0 for the first external release of one of our recent H2O AI Cloud apps.

[2022-04-28 15:07] mturoci commented on #1376
If you don't use a lot of 0.21 features then this is the way to go. If yes, we may do a patch release next week.

When is the planned release?

@marek-mihok @aalencar can one of you please have a look at this one?

[2022-05-01 02:03] zillionare commented on #1319
how can let uvicorn listen on 0.0.0.0? My wave is launched on a remote machine, that I can't access it by http://127.0.0.1:8000.

If I set H2O_WAVE_APP_ADDRESS to http://0.0.0.0:3000 or http://192.168.100.112:3000 (ip address of this machine, and can be accessed from other machine), it only take the port changed:

`
INFO:     Will watch for changes in these directories: ['/apps/alpha']
INFO:     U

[2022-05-01 02:12] zillionare commented on #1319
my bad. I should access the app by address and port listened by waved, which is 192.168.100.112:10101, not the uvicorn one.

[2022-05-01 15:39] azim-b opened #1395 "Unnecessary scroll bar in `ui.menu()` commands"
macOS, Wave 0.21.0, Safari Version 15.4

Unnecessary scroll bar in `ui.menu()` commands

![image](https://user-images.githubusercontent.com/64787868/166153320-5bbf343f-f8c5-435b-92e1-1fdf6d4cf93d.png)

Code:

[code]

[2022-05-02 00:46] zillionare commented on #1008
code snippets w_app_header demonstrate how to change theme between light and dark. When I'm trying to extend it to change among all theme, I found this would helpful:

`
@on("theme_{theme:str}")
async def change_theme(q: Q, theme: str):

`

[2022-05-02 05:49] aalencar commented on #1376
@mturoci sure, I will take a look.

[2022-05-03 07:36] mturoci commented on #1374
Seems like the env vars are not set correctly, feel free to reopen in case of further issues.

[2022-05-03 07:36] #1374 closed

[2022-05-03 08:41] mturoci commented on #1379
Update: Since #428 adds support for Markdown, this feature can be implemented via [markdown text submission](https://github.com/h2oai/wave/pull/316) that submits q.args.

Leaving this issue open since there is 1 minor bug that needs fixing. Content like `The quick brown [fox](?fox) jumps over the lazy [dog](?dog)` works, but pure links like `[fox](?fox)` do not.

[2022-05-04 12:01] mturoci opened #1398 "Reduce height of the message bar."
via @psinger @Far0n @Nayananga

It seems like the new message bar design does not fit well into Wave apps and needs to have the overall height reduced.

Implementation note: Think about whether message_bar shouldn't be decoupled from notification_bar implementation-wise.

## Tmp CSS workaround

[code]

[2022-05-05 03:03] zillionare opened #1402 "if mask is specified, then textbox will not show value"
#### Wave SDK Version, OS

0.21.0, ubuntu 20

#### Actual behavior

if I create a textbox like this:

[code]
then the ui will look like this:

![image](https://user-images.githubusercontent.com/7206696/166857775-03088702-b564-4e0a-b373-c139e4c943f2.png)

instead of 22 年 05 月 05日

#### Expected behavior

the textbox should show the value of end, in the format of mask

[2022-05-05 07:23] #428 closed

[2022-05-05 11:10] zillionare opened #1405 "connection error occasionally"
#### Wave SDK Version, OS

0.21.0, ubuntu 20.04

#### Actual behavior

start the app via vscode debug:

[code]
sometimes this will occur:

{"error":"request failed: Post \"http://127.0.0.1:8000\": dial tcp 127.0.0.1:8000: connect: connection refused","host":"http://127.0.0.1:8000","route":"/","t":"app"}

and a "wave live" logo is displayed at browser, instead of correct page.
#### Expected behavio

[2022-05-05 11:17] zillionare commented on #1405
(alpha) root@ubuntu:/apps/alpha# netstat -nap |grep wave
tcp6       0      0 :::10101                :::*                    LISTEN      594365/./waved
tcp6       0      0 192.168.100.112:10101   192.168.100.14:49353    ESTABLISHED 594365/./waved
tcp6       0      0 127.0.0.1:10101         127.0.0.1:55826         ESTABLISHED 594365/./waved
tcp6       0      0 192.168.100.112:10101   192.168.100.14

[2022-05-05 11:48] mturoci commented on #1385
Thanks for reporting @huangxin168! Unfortunately, I am unable to reproduce the issue. What are the versions of Wave and browsers you use?

[2022-05-05 13:23] huangxin168 commented on #1385
@[mturoci](https://github.com/mturoci)

Chrome 101.0.4951.54 （64bit）
h2o-wave    0.21.0

[2022-05-06 02:47] aravind-viswanathan commented on #1380
Hello @lo5 ,

Can you please let us know the tentative timeline might expect this feature?

Thanks

[2022-05-06 18:47] #1380 closed

[2022-05-06 18:50] lo5 commented on #1380
@aravind-viswanathan - Can you please try out nightly and verify?

Set `H2O_WAVE_OIDC_AUTH_URL_PARAMS` or pass `-oidc-auth-url-params`:

[code]

[2022-05-10 12:30] aalencar commented on #556
Hi @psinger, could you provide some form card examples with screenshots where vertical alignment is needed?

[2022-05-10 13:16] mwysokin commented on #1380
@lo5 Would it be possible to backport the feature to 0.x branch? @VijithaEkanayake told me that it'll be only part of 1.x My motivation is that since we're in a semi-emergency needing to use 1.0.0 would cause a big delay with providing it to the customer. Since `0.21.1` will need to be released because of a regression could we make it part of that release? It'd really, really help us out 🙏

[2022-05-10 16:08] psinger commented on #556
@aalencar sorry I do not have any example screenshots as this is quite an old issue, but having horizontal alignment would be something I regularly would like to have

[2022-05-10 16:19] VijithaEkanayake commented on #1380
@mwysokin I apologize if there is any miscommunication happened. I meant told that the fix will be in the next wave release.
@lo5 It would be really helpful for us to have a patch release with this fix.

[2022-05-10 16:34] lo5 commented on #1405
Looks like your Wave app hanged.

Specifically, when you access your app via the browser, the browser calls the Wave server, and the Wave server in turn calls your app.

From the error you posted above, it looks like your app was busy or blocked.

Hard to say what caused this without looking at your application's code.

[2022-05-10 16:46] lo5 commented on #1380
We can cut a new minor or patch release - no issues.

I just need confirmation that this feature worked for you.

[2022-05-11 06:40] #644 closed

[2022-05-11 06:48] #1376 closed

[2022-05-11 07:56] aalencar commented on #556
@psinger It's an old issue indeed. I understand how vertical alignment can be useful in general, and I had already started development but then we realized we don't have many concrete use cases to justify further development. If you have any recent code where you couldn't achieve the desired alignment, post it here so that we can prioritize this task.

[2022-05-11 08:46] shihan007 commented on #215
@dulajra @VijithaEkanayake @Nayananga Can you confirm wether #897 solves adding action button to table?

[2022-05-11 08:52] Nayananga commented on #215
@shihan007, We need a code example to try this out, @aalencar, could you please share a code example or documentation to try this out?

[2022-05-11 09:44] aalencar commented on #215
Try this:
[code]

[2022-05-11 10:53] aalencar commented on #1304
Agreed with @ranjithh to close the issue because the use case is too specific and required too many changes on Wave codebase.

[2022-05-11 10:53] #1304 closed

[2022-05-11 12:08] #1379 closed

[2022-05-11 12:47] zillionare commented on #1405
sorry I may doesn't put myself clear, but at the moment my app is just launched, and doesn't have chance to run any logic.

If I reboot the machine, then start debug again, everything is fine (I mean with debug mode). But if it hands during debug, it will hardly recover, event I stop debug mode and re-launch.

[2022-05-11 16:02] lo5 commented on #1405
OK that makes things a bit more clear - thank you for the additional information.

If the browser tries to connect to the app before it's ready, then yes, the Wave server will assume the app is unresponsive, and not retry.

Are you initializing the database connections in an `on_startup` handler? See https://wave.h2o.ai/docs/apps#lifecycle

[2022-05-12 04:01] #1319 closed

[2022-05-12 08:37] codeananda commented on #1374
Setting `H2O_WAVE_NO_LOG=True` in the shell before running `wave run app.py` works.

However, if you try to set it in the python script, it doesn't work. For example,

[code]

doesn't solve the problem. Nor does putting it in the `serve` func.

Is there a way for it to work in the script?

[2022-05-12 08:48] mturoci commented on #1374
No, it has to be set before starting your Wave server and for Wave app needs Wave server to be running first in order to run itself so this is a deadlock.

[2022-05-12 08:59] codeananda commented on #1374
Hmm ok. This is quite the inconvenience then if you want to use plotly. Either you must remember to manually set an env var to get no logs (which presumably would be a pain if you want to debug), or your logs are full of the data/html used for your plots (which makes the logs at least as large as your datasets)...

[2022-05-12 09:07] lo5 commented on #1374
Curious - which IDE are you using for development? We've never had anyone care about the logs during development. They're best used to diagnose issues in production.

Also, the Wave logs are built that way for a reason - the state of the server and all your dashboards/visualizations can be recovered from the log by feeding the log back into Wave.

[2022-05-12 09:07] codeananda opened #1415 "Make dropdown menus with labels 1 row tall"
#### Is your feature request related to a problem? Please describe

Dropdown menus with `label='some label'` are more than 1 row tall.

#### Describe the solution you'd like

Make dropdown menus with labels 1 row tall (adjust vertical centering?)

#### Describe alternatives you've considered

I've been making them 2 rows tall and overlaying a plot on top to cover the white space. This is hacky.

C

[2022-05-12 09:12] lo5 commented on #1415
Why not put both dropdowns into one form card?

[2022-05-12 15:19] zillionare commented on #1405
yes @lo5 the initialization is done at on_startup:
[code]

[2022-05-13 00:05] codeananda commented on #1415
I am stressing that having a dropdown one row high + a label looks funny.  I included two dropdowns to make this point clear. The question isn't about how to best display two dropdown menus.

[2022-05-13 00:15] codeananda commented on #1374
VS Code.

To be honest, I am a beginner when it comes to making data/web apps so might be fussing over unimportant things?

I wanted to check things using `print()`  (see #1391) just like `st.write()` from streamlit.

I couldn't use the terminal as it was clogged with plotly stuff and couldn't effortlessly print to the app (a la `st.write()`) because that isn't something you've implemented.

Ahh o

[2022-05-13 03:26] lo5 commented on #1415
Different components in Wave have different heights. Optimizing the height to make one solitary dropdown look perfect is not going to bode well for other components.

The [grid layout](https://wave.h2o.ai/docs/layout#grid-layout) system that you're using is optimized for displaying pixel-perfect dashboards, like the one you see [here](https://wave.h2o.ai/docs/getting-started). The widgets there fi

[2022-05-13 03:53] lo5 commented on #1374
Using the VS Code debugger is a much more productive way to debug and find issues compared to `print()` and log files. Your program's state is a breakpoint away.

Wave is significantly different, with a programming model built with performance in mind, so your previous experience may not carry over. For example, [this](https://www.youtube.com/watch?v=RW_9rPseULY) product was built using Wave. Thin

[2022-05-13 04:22] lo5 commented on #1405
Hmm. I wonder if we should make the app advertise itself after `on_startup()` has completed:

https://github.com/h2oai/wave/blob/master/py/h2o_wave/server.py#L229-L232

Do you mind switching the order of those two callbacks and check if your problem goes away?

[2022-05-14 06:20] zillionare commented on #1405
I didn't get what you mean by "switching the order of those two callbacks" @lo5

[2022-05-15 18:47] jfarland opened #1421 "Multi-line Markdown doesn't render correctly"
#### Wave SDK Version, OS

Wave 0.21, MacOS Monterey 12.3, Apple M1 Chip.

#### Actual behavior

I've tried several different ways to replicate the examples in the docs for multi-line markdown and haven't had success getting it to render correctly. Example I am using is from here: https://wave.h2o.ai/docs/widgets/content/markdown/

#### Expected behavior

Ability to render multi-line markdown in f

[2022-05-16 07:00] mturoci commented on #1421
Hi @jfarland, extra tabs/spaces preceding each line cause the trouble.

Instead of:

[code]
Try
[code]

Let me know if that helped.

[2022-05-16 07:06] zillionare commented on #1405
not 100% sure, but seems like if I launch web browser after I see "INFO:     Application startup complete.", then there's no connection refused error.

[2022-05-16 12:50] #1385 closed

[2022-05-16 12:59] #1386 closed

[2022-05-17 05:09] THESHAMIK opened #1422 "Getting 403 error"
#### Wave SDK Version, OS

Installed through
pip install h2o-wave (after creation of a new virtual env in anaconda)
Already h2o is installed & working fine with python.
$ wave fetch
pip install -r examples/requirements.txt
http://localhost:10101/tour ==> This triggers NO error. Here i the o/p

(aqua_h2o) C:\Users\shamik.bhattacharya\wave>wave run examples.tour
params: []2022/05/17 10:22:00 #
2022/

[2022-05-17 13:49] #1395 closed

[2022-05-17 14:39] mturoci opened #1425 "bug: Extra large buttons within dialog"
### Discussed in https://github.com/h2oai/wave/discussions/1423

<div type='discussions-op-text'>

<sup>Originally posted by **zillionare** May 17, 2022</sup>
<img width="620" alt="image" src="https://user-images.githubusercontent.com/7206696/168745089-ad99d05f-a807-4a59-b25a-28275d48e0ac.png">

the code:
[code]

[2022-05-17 14:44] #1425 closed

[2022-05-17 16:37] aalencar opened #1426 "Support high number of options in Combobox"
#### Is your feature request related to a problem? Please describe

Problem raised by @mtanco
"I have 5K+ values in a picker which is (rightfully) really laggy and meh - any suggestions on what type of component or feature to use for letting your user select from a really long list?"

Currently, Dropdown with popup is virtualized and can solve the issue. It would be good to have it on ComboBox too

[2022-05-18 06:43] vopani opened #1427 "Text annotator should handle unknown tags"
#### Wave SDK Version, OS
Wave v0.21.1 on MacOS

#### Actual behaviour
When an unknown tag is assigned to a text, the screen blanks out without showing any error.

#### Expected behaviour
The tag can be ignored (or else should throw an error).

#### Steps To Reproduce
Add `tag='x'` for any text here: https://wave.h2o.ai/docs/widgets/form/text_annotator

[2022-05-18 06:45] vopani commented on #1358
+1 for this, very useful to polish the component.

[2022-05-18 08:19] vopani opened #1428 "Header card has scroll when adding icon"
#### Wave SDK Version, OS
Wave v0.21.1 on MacOS

#### Actual behaviour
Header card shows a scroll bar when adding an icon.

#### Expected behaviour
No scroll bar.

#### Steps To Reproduce
[code]

<img width="501" alt="Screenshot 2022-05-18 at 1 48 19 PM" src="https://user-images.githubusercontent.com/8954217/168992055-9039ec05-91de-4362-b3c7-6f2d511b98d9.png">

#### Comments
Checked on Brave, Fire

[2022-05-18 12:01] aalencar commented on #215
@Nayananga did you manage to test it?

[2022-05-18 13:25] shamilh2o commented on #215
@aalencar  I tested above sample code in both wave 0.21.0 and 0.21.1. It didn't work in both versions. Output is as below.

Error
Traceback (most recent call last):
  File "/Users/admin/Documents/TestProjects/Pycharm Basic Project 1/venv/lib/python3.8/site-packages/h2o_wave/server.py", line 320, in _process
    await self._handle(q)
  File "./app.py", line 15, in serve
    cell_type=ui.menu_table_

[2022-05-18 13:39] aalencar commented on #215
@shamilh2o thanks for taking a look into it. You have to use the nightly version of Wave which includes this feature.

[2022-05-18 16:51] ashrith opened #1429 "Feature Request - Addition of view to the components"
Currently,
This is how I generate the `view` variable in `core.R` https://github.com/h2oai/wave/blob/41fdc6c6243604678c501763a933848ad1a3d262/r/R/core.R#L148
As the view variable does not come from `ui.R`

Could we add `view` as a part of the functions in `ui.R` and eliminate that like of code that I have in `core.R` to generate `view`?

 I will illustrate this with an example. Take `ui_form_card(

[2022-05-18 17:31] mtanco opened #1430 "Icon not rendered for ui.stat"
#### Wave SDK Version, OS
0.21.0 - tested locally OSK and also in the Editable Tour in Internal

#### Actual behavior
No waving blue hand next to 100 (grey hand to show this is a valid icon
![image](https://user-images.githubusercontent.com/4793561/169105634-803bde8d-8653-4cd5-9ddd-30c3d8d66642.png)

#### Expected behavior

(A clear and concise description of what you expected to happen.)

#### St

[2022-05-19 09:12] vopani opened #1432 "Annotator selection misses characters"
#### Wave SDK Version, OS
v0.21.1 on MacOS

#### Actual behaviuor
Annotation misses characters at times.

#### Expected behaviour
Should annotate entire token / word without a space.

#### Steps To Reproduce

https://user-images.githubusercontent.com/8954217/169257842-e173af07-fbba-4603-a529-731adbf8d618.mov

The selection includes the `(` but not the `)`

[2022-05-19 13:15] #1398 closed

[2022-05-19 13:21] mturoci commented on #1430
Hm.. although the API allows for `icon`, there is no accompanying implementation. According to https://github.com/h2oai/wave/issues/1067, the proposed design does not include icons, but I would say they can be beneficial. The question is, where should those be placed though.

[2022-05-19 15:18] #1427 closed

[2022-05-19 15:20] #1428 closed

[2022-05-19 16:31] mtanco commented on #1430
I'm personally okay with just getting rid of the icon... I just saw something that wasn't working.

But if we keep it probably before the Value

[2022-05-20 00:06] lo5 commented on #1270
Slated for v0.22:

Set `-session-expiry` to set session expiration lifetime.
Set `-session-inactivity-timeout` to set inactivity timeout.

See `-help` for duration format.

Note that inactivity is tracked across all open tabs, and *all* tabs will redirect to logout on timeout. Redirects to the OIDC provider's end-session URL if set, else redirects to the base URL. Verified against Keycloak.

[2022-05-20 00:06] #1270 closed

[2022-05-20 05:16] THESHAMIK opened #1436 "Wave scripts running fine BUT Wave Apps not working. No error in screen. Web server started but I see only Wave Live logo only in browser."
Hi, Installed H20 Wave recently - 0.21.1.
Everything is working for me for Wave scripts.
But when I am running wave apps, it not working.
Web server started-no issues.
But in the browser http://localhost:10101/tour I see only Wave Live logo only.

Similar to A Tour and Demo of Wave doesn't work (VPN/Proxy related) #725 OR #1091.
In mine case also tour.py is not working.

I am using Windows 11, pyt

[2022-05-20 05:20] THESHAMIK commented on #1436
It seems web server is UP & running but App server is NOT up. Maybe that is why wave scripts are running fine but not wave apps.
If that is the case how to debug for web app...Kindly guide..

[2022-05-20 05:40] THESHAMIK commented on #1436
Also for wave scripts when using Jupyter
[403 wave error.docx](https://github.com/h2oai/wave/files/8736212/403.wave.error.docx)
, I am getting 403 error.

---------------------------------------------------------------------------
ServiceError                              Traceback (most recent call last)
~\AppData\Local\Temp\ipykernel_24092\615144231.py in <module>
     15
     16 # Finally, sync

[2022-05-20 06:58] mturoci commented on #1436
Closing as duplicate of #1422.

[2022-05-20 06:58] #1436 closed

[2022-05-20 07:03] mturoci commented on #1422
Hi @THESHAMIK

the Anaconda and pip combination seems to be a bit odd. Can you please try using only standard python within virtualenv and pip as suggested in the [docs](https://wave.h2o.ai/docs/installation)? Also, make sure there are no `H2O_WAVE_*` env variables set and your first installation is clean.

Also please look at [how to format code in GH comments](https://docs.github.com/en/get-star

[2022-05-20 07:23] #1432 closed

[2022-05-20 07:33] mturoci commented on #1430
Agree, however, we cannot get rid of APIwise so I will add a comment to `tall_stats` that icons are not yet supported until we figure out the proper designs.

Done in ed54c4183ac49287f46f76c2e68cdb9fff943c79

[2022-05-20 08:16] THESHAMIK commented on #1422
I feel this is not right way of closing based on assumptions. Anyway this problem is just now solved by me by taking proxy out. The moment its taken out all working fine. Thanks.

[2022-05-20 08:52] THESHAMIK commented on #1436
Hello yes this last point was duplicate but core issue was different. For future reference if someone stumbles on this type of error that is wave script working but wave Apps not working. It was solved by basically taking proxy out. Once you bypass proxy it starts working. Thanks.

[2022-05-20 22:13] jfarland commented on #1421
@mturoci yeah that did the trick. Maybe I'm just neurotic but not being able to keep it at the same indent with other parts of the script isn't ideal from an organization / aesthetic perspective. Works for now though, thanks!

[2022-05-20 23:07] azim-b commented on #1430
it'd be useful to have this feature / icons in a tall stats card

[2022-05-23 06:48] mturoci commented on #1421
Yeah, I agree, but that's how markdown in general works, unfortunately. One possible slight improvement can be reading the markdown text from a file, storing it in a python variable, and use it as an input into the markdown card. This solution is also recommended for cases when you have long MD text and don't want to hardcode it all into the code.

[2022-05-23 06:48] #1421 closed

[2022-05-24 07:13] #1366 closed

[2022-05-24 07:52] #1415 closed

[2022-05-25 13:42] mturoci opened #1442 "Support full vega spec, not just lite"
via @bender404

Some existing JS apps use full vega spec and would like to migrate to Wave. However, they would like to reuse as much work as possible (existing full vega spec plots).

`vega-embed` supports both modes (`lite` and `vega`) so seems like a single extra attribute should do the job.

cc @lo5

[2022-05-25 19:52] TravisCouture opened #1444 "Download Image From Native Plots"
#### Is your feature request related to a problem? Please describe

Would be very useful to be able to download Wave native plots to images.

#### Describe the solution you'd like

Perhaps right clicking on the plot allows you to save it as a PNG/copy it or maybe a button below the plot download it to a file (similar to the table functionality).

#### Describe alternatives you've considered

Could

[2022-05-26 07:43] mturoci commented on #1444
The easiest and quickest solution is to take a screenshot though.

[2022-05-26 11:45] mturoci opened #1446 "Wide gauge stat should not move when textual values change"
via @itsxaos
### Discussed in https://github.com/h2oai/wave/discussions/1443

<div type='discussions-op-text'>

<sup>Originally posted by **itsxaos** May 25, 2022</sup>
The alignment of the gauge on the wide gauge card doesn't seem right, it moves when the value / auxiliary value changes, and generally doesn't look like it does in the [docs](https://wave.h2o.ai/docs/examples/stat-wide-gauge).

Her

[2022-05-27 05:20] ashrith commented on #1429
Fixed Wavegen to generate `view=` currently awaiting closing of PR.

[2022-05-27 09:50] henrycs opened #1448 "Make post_logout_redirect_uri configurable"
#### Wave SDK Version, OS
h2o-wave, 0.21.1, Ubuntu 20.04, Keycloak 10.0.2 (docker), Chrome 100.0.4896.127

#### Actual behavior
We test OAuth in wave app with Keycloak 10.0.2, it's OK for login testing, but we cannot logout user session using "_auth/logout", Keycloak reports "invalid redirect uri" after we call "_auth/logout", we can see the session still exists in Keycloak Web console.
URL to log

[2022-05-27 15:23] zillionare opened #1450 "kandlestick support"
#### Is your feature request related to a problem? Please describe

please add candlestick to native plot.

#### Describe the solution you'd like

A native candlestick plot, which can add moving average lines along with candlestick and indicators in subplot

#### Describe alternatives you've considered

currently we can use plotly to draw candlestick, and mount it in a FrameCard. the issue is this

[2022-05-27 18:29] vopani opened #1451 "Text size changes on toggling theme"
#### Wave SDK Version, OS
v0.21.1 on Mac OS

#### Actual behaviour
The size of text changes when theme is toggled (likely to be refresh issue and not specific to toggle component)

https://user-images.githubusercontent.com/8954217/170769942-7ea04396-6bbd-4b6f-872b-92c8133f7e51.mov

#### Expected behaviour
The size of text shouldn't change

#### Steps To Reproduce
[code]

[2022-05-30 06:15] #1442 closed

[2022-05-30 06:19] mturoci commented on #1448
Let's add `oidc-post-logout-redirect-url` (server param) and `H2O_WAVE_OIDC_POST_LOGOUT_REDIRECT_URL` (env var) server config options for the highest flexibility - cc @lo5

[2022-05-30 11:05] #1191 closed

[2022-05-30 12:13] gaborfodor opened #1453 "ui.image excessive debug logging"
#### Wave SDK Version, OS

21.0, MacOS 12.

#### Actual behavior

Using `ui.image` with `image=image_data` logs the entire base64 encoded image.
It could cause slow response or even timeout. Server logs become flooded.

#### Expected behavior

The image data could be truncated to not flood the logs.

#### How to reproduce the issue
https://wave.h2o.ai/docs/examples/image

[2022-05-30 12:19] mturoci commented on #1379
The above markdown proposal may not work for everyone as it submits `q.args.<md-link-name> = True` - requires handling 20 different q.args for 20 rows instead of `q.args.<table-name> = <row-name>`. Will allow specifying `TableColumn.link=True` even when multiple selection is chosen. Not sure why we originally implemented it with this constraint.

[2022-05-31 06:17] vopani opened #1459 "Components to use microphone / camera"
#### Is your feature request related to a problem? Please describe
With some fantastic new components like text and image annotators enabling seamless data science workflows, it would be cool to take it one step further by using microphones and cameras.

#### Describe the solution you'd like
Components that can capture audio or video directly inside an app.

#### Additional context
This would grea

[2022-05-31 06:45] zoido opened #1460 "``h2o_wave` Python package should not pin `httpx` version."
#### Is your feature request related to a problem? Please describe

Cannot use (at least) semi-arbitrary versions of `httpx` (and effectively also `starlette` and `uvicorn`) and dependencies that has require different (even slightly) `httpx`.
Installation via `requirements.txt` leads to the error.

[code]

[code]

#### Describe the solution you'd like

Don't pin `httpx` version or at least allow r

[2022-05-31 09:30] gaborfodor opened #1461 "Image annotator box dragging anomalies"
#### Wave SDK Version, OS

wave 0.22 macOS 12.3

#### Actual behavior
Using `ui.image_annotator` unexpected sudden dragging boxes around the edges could resize them or create new ones.

#### Expected behavior

* Boxes should keep their original size during dragging
* Dragging should not create new boxes

#### Steps To Reproduce
https://user-images.githubusercontent.com/5063584/171141105-da3135a6-0

[2022-05-31 12:47] zillionare opened #1463 "httpx version"
#### wave version

[code]

httpx 0.16 is released at Oct 2020, and latest is 0.23, which is released at May 2022.

Would it be possible to upgrade httpx to 0.23 as well? Cause this is very popular component and required by many package, so it's better to keep it up to date, so won't break other package.

[2022-05-31 15:53] #1429 closed

[2022-05-31 16:08] #1448 closed

[2022-05-31 16:09] mturoci commented on #1463
Duplicate of #1460

[2022-06-02 16:55] vopani opened #1470 "Remove All option in text annotator"
#### Is your feature request related to a problem? Please describe
Sometimes there is a need to clear all annotations of an entity and start again.

#### Describe the solution you'd like
An option in Text Annotator to `Remove All` similar to the Image Annotator.

[2022-06-03 02:00] shereezhang opened #1472 "Support for timestamps as x-axis scale"
#### Is your feature request related to a problem? Please describe

Model monitoring is trying to show the number of predictions generated by a deployment within time intervals, and wants to use a histogram to do so. We are encountering a problem where we need to set x_min and x_max for an interval, but when the x axis is timestamp (string) this is not possible.

Example of timestamp x-axis:
![ima

[2022-06-03 02:10] lo5 commented on #1472
Is `x_scale='time'` set?

[2022-06-03 04:00] mtanco opened #1473 "Histogram tooltip issue"
#### Wave SDK Version, OS
h2o_wave 0.22.0

#### Actual behavior
The `low - high` value is the two number concatenated together which seems strange
![image](https://user-images.githubusercontent.com/4793561/171783378-e7222e6d-d64f-433d-8797-76ab071a232c.png)

#### Expected behavior

#### Steps To Reproduce

[code]

[2022-06-03 04:08] mtanco opened #1474 "No tool tips for Histogram with time x_scale"
#### Wave SDK Version, OS
h2o_wave 0.22.0

#### Actual behavior
tool tip hover for linear scale
![image](https://user-images.githubusercontent.com/4793561/171784077-bb6a73b6-4a4b-4434-8511-ea07b3b8a2d0.png)

no tool tip hover for time scale ( I can make a gif as needed since it's not really showing that my curser is on the plot...)
![image](https://user-images.githubusercontent.com/4793561/1717841

[2022-06-03 04:12] mtanco commented on #1472
@shereezhang Here is some example code with Prithvi's suggestion showing how you can use strings of dates in a histogram plot:

![image](https://user-images.githubusercontent.com/4793561/171784612-57253ffa-a21d-40bd-8d0e-14d3e1eddf00.png)

[code]

@lo5 Note that in all three the plot only shows the date, note the timestamp - developers would probably expect to see the format that they use (not tra

[2022-06-03 06:11] roema opened #1475 "flickering when updating vega_card"
#### Wave SDK Version, OS

0.22.0 / 0.21.0 Arch Linux

#### Actual behavior

When updating a vega_card, it flickers.
Lineplot shifts the curve into the past.

#### Expected behavior

No flickering. Occurs only since version 0.21.0.

#### Steps To Reproduce

1. Create page with vega_card and lineplot
2. update data with page.save()
3. See flicker

[code]

https://user-images.githubusercontent.com/9

[2022-06-03 08:39] mturoci commented on #1475
Thanks for filling the issue @roema!

Can you please provide runnable min repro code with consistent data? Your video cases use different data which may not be optimal. Looking at the https://wave.h2o.ai/docs/examples/plot-vegalite-update/, everything seems to be fine.

re line plots: Min repro code needed as well.

[2022-06-03 09:16] roema commented on #1475
Thanks @mturoci for your fast message!

I have tested the example and it works with one chart. If i define more then one, all charts flickering

https://user-images.githubusercontent.com/9306994/171825981-f4b28faa-127f-45cc-a634-b1c0ee59aa08.mov

https://user-images.githubusercontent.com/9306994/171825993-0b29cef9-22e7-4567-b45c-4ecb830f7536.mov

I will check line plot too.
.

[2022-06-03 09:17] mturoci commented on #1475
Perfect, that's helpful.

[2022-06-03 11:45] zillionare opened #1478 "add version to documentation"
wave is great but I found there's versioning about documentation, maybe it's better to add version, so the documentation could be align with actual releases.

[2022-06-03 12:58] Nayananga commented on #1472
@mtanco @lo5 Thank your quick response, this worked fine after applying the suggestions, But now I encountered the same problem for the **box plot**, and this suggestion seems not to be working for it.

This is the output
![image](https://user-images.githubusercontent.com/25351304/171857924-2f271737-9072-46ac-93a4-14f8420e88db.png)

This is the debug console. You can see data on the right side
![S

[2022-06-03 13:29] mtanco commented on #1472
Hi @Nayananga, is there a reason for using a range (x1 & x2) for the box? In the examples we're just using a single x value: https://wave.h2o.ai/docs/examples/plot-schema/

In general I think it's common to have a box plot per "category" or aggregated time (like a day).

[2022-06-03 16:32] lo5 opened #1479 ""wave fetch" command fails on some Windows systems (Quick Access related)"
Fails at https://github.com/h2oai/wave/blob/master/py/h2o_wave/cli.py#L158

via @luizlf

[2022-06-03 17:50] azim-b commented on #1012
is this (or another ticket for this purposed) addressed by microsoft? If yes, it'd be nice to add the date range feature to Wave's `ui.date_picker()`

[2022-06-04 02:06] zillionare opened #1481 "array buffer doesn't honor `size` property"
#### Wave SDK Version, OS

0.22 ubuntu 20.04

#### Actual behavior

if you created a line plot with this:

[code]
then update data later:
[code]
this won't take effect since the original data buffer size is 0.
if the buffer is defined as circular, then everything is fine.

#### Expected behavior

when data is defined as Array, as long as size is provided, it should:

1. initially draw the plot wit

[2022-06-04 03:48] zillionare commented on #1481
and if you have set data as circular one, pass rows is actually not allowed, this will result no any plot is drawing. you have to do like this:

[code]

the behaviour is not intutive and not consistent.

[2022-06-04 07:58] zillionare commented on #1405
I guess this might caused by my system's file handle limit. I'm using vscode over ssh, it will used up many many file handle. After I extend system's open file handle limit, the issue almost never occurs.

closed.

[2022-06-04 07:58] #1405 closed

[2022-06-04 09:17] zillionare commented on #1481
does this behaviour caused be plot_card (it use PackedRecord)?
![image](https://user-images.githubusercontent.com/7206696/171992941-ad2c3c55-0ba5-4623-9965-e66363e74a8c.png)

[2022-06-05 03:11] lx1054331851 opened #1482 "wave 0.22 skip start server to run app occured error"
#### Wave SDK Version, OS
#### Wave SDK: 0.22.0
#### h2o: 3.36.1.2
#### windows 10: 19044.1706

![image](https://user-images.githubusercontent.com/12423206/172033187-13d4cf4d-06e2-4ce0-a28d-9cafcd89cebd.png)

In the latest documents, user can skip the first step to start the wave server if you're running Wave 0.20.0 or later.

But if i do not start the server first, and run the command "python hel

[2022-06-05 18:56] lo5 opened #1484 ""handle_on" depends on order of components in a form (it should not)"
See discussion: https://github.com/h2oai/wave/discussions/1480#discussioncomment-2887028

Solution: Add a `sort_args=False` to `handle_on`. If set to True, sort `q.args` before iterating.

[2022-06-06 07:11] Far0n commented on #1484
concerns about `sort_args` approach (for reference):

https://github.com/h2oai/wave/discussions/1480#discussioncomment-2888734
https://github.com/h2oai/wave/discussions/1480#discussioncomment-2888943

[2022-06-06 07:57] Far0n commented on #1484
Maybe it would be better for now to recommend to use **on** only for buttons. `sort_args` wont be needed then and it wont solve other tricky cases like trigger=True on toggles:

https://github.com/h2oai/wave/discussions/1480#discussioncomment-2889101:
btw. toggles would still remain troublesome, because they have boolean values and a trigger event might give us `toggle: False` in `q.args`. Since t

[2022-06-06 08:48] marek-mihok commented on #1473
Thanks for reporting @mtanco! It must be the bug introduced by #1330. I've just created a PR with the fix.

[2022-06-06 13:25] Far0n commented on #1484
@lo5 wouldn't the following be an option: I believe currently q.events is only used for wave.emit() stuff. What if it would always hold the "source event" that led to invoking serve?

For example: Let's say we have an ui.toggle with trigger = True and we "click" it. Let's further assume the value changes from `True `to `False`. That would result in:

[code]

That would allow a quite convenient use

[2022-06-07 06:59] roema commented on #1475
So now i have tested line plot.
We plotting realtime data from LTE basestations.
Sometimes the number of base stations received changes, so i have modified the minimal example like this

[code]
We init the plot with 2 and updating the plot with 3 stations, but the line plot freezing, no data where be shown.

On waved 0.20 we have init the line plot like this

[code]
Thanks for your help!

[2022-06-07 07:44] #1473 closed

[2022-06-07 07:51] #1451 closed

[2022-06-07 07:53] mturoci commented on #1482
This behavior applies to Wave apps only, not Wave scripts. Good catch @lx1054331851 , will make it more obvious in the docs!

[2022-06-08 15:42] vopani opened #1490 "Textbox resizing issue(s)"
#### Wave SDK Version, OS
v0.22.0 on MacOS

#### Actual behaviour
Textbox resizing is buggy.

https://user-images.githubusercontent.com/8954217/172659025-6f4e690c-2b2f-4593-9295-75b3bef18385.mov

#### Expected behaviour
Textbox resizing should be smooth.

#### Steps To Reproduce
[code]

#### Comments
1 - What does height=100% mean or do? Even when I use long text, the box doesn't fit the text and

[2022-06-08 15:45] vopani commented on #1484
This might be the `better` solution we've been looking for.
@lo5 Can we try this out in a branch? I'd still want to test it on a bunch of written apps to confirm if it works well or not.

[2022-06-08 16:14] Far0n commented on #1484
Extra note:

I also think button clicks should find their way into q.events, like so:
[code]
For sake of backwards compatibility we can't remove it from q.args. So the redundancy could be an argument against it. But I feel one could still argue, that q.events holds the implicit "trigger = True" for the button and q.args it's value. So non-clicks could still be this, I guess:
[code]

[2022-06-09 08:03] Daniel-Kelvich opened #1491 "Cannot download a file"
#### Wave SDK Version, OS

0.22.0, Ubuntu 21.04, Firefox brower

#### Actual behavior

Cannot download a file from the server. The I click the link a file just opens in a new tab.

#### Expected behavior

To automatically download a file when a user clicks on the link.

#### Steps To Reproduce
[code]

[2022-06-09 13:01] mturoci commented on #999
@Daniel-Kelvich can you add a min repro code please? Thanks!

[2022-06-09 13:05] vopani opened #1492 "Table with Search Bar has wastage of space"
#### Is your feature request related to a problem? Please describe
A table with a search bar leads to a large wasted space between the bar and the table.

#### Describe the solution you'd like
A much smaller gap to utilize maximum space.

<img width="526" alt="Screenshot 2022-06-09 at 6 26 12 PM" src="https://user-images.githubusercontent.com/8954217/172853914-e1ddda8c-0b8e-4692-87dc-757bc50efeb0.

[2022-06-09 15:34] pascal-pfeiffer opened #1493 "Semantic validation for ui.components"
#### Is your feature request related to a problem? Please describe

For some ui components such as `ui.notification_bar` you can specify `events`. This is only working if also a `name` property is given, which is optional otherwise. If a name is not provided, the events are not catched and the root cause is unclear (fails silently).

#### Describe the solution you'd like

Warning the user about a

[2022-06-10 04:47] lx1054331851 commented on #1482
I got it. Thanks for your reply.

[2022-06-10 04:47] #1482 closed

[2022-06-13 09:46] mturoci commented on #1491
Duplicate of #999

[2022-06-13 09:46] #1491 closed

[2022-06-13 18:26] azim-b opened #1498 "`ui.buttons()` items"
#### Wave SDK Version, OS

0.22.0

#### Actual behavior

`ui.buttons()`'s items "accepting" `ui.mini_button()`s (and other components) but not rendering them.

#### Expected behavior

`ui.buttons()`'s items type == `List[Button]`

#### Steps To Reproduce

min reproducible code:

[code]

[2022-06-14 06:03] vopani opened #1499 "Spellcheck doesn't show until click"
#### Wave SDK Version, OS
v0.22.0 on MacOS

#### Actual behaviour
A textbox with `spellcheck=True` doesn't underline the errors until the textbox is clicked.

#### Expected behaviour
The errors in the textbox should be underlined when the card is rendered (even if textbox is not clicked on).
Or else provide a way/option to enable it to show errors without clicking the box.

#### Steps To Reproduce

[2022-06-14 07:20] mturoci commented on #1499
There is not much we can do other than ugly hacks. The spellcheck attr is not configurable beyond telling browser whether to spellcheck or not. Note that you cannot even control what lang it's spellchecking against even from JS. The intention for the attr presence in Wave was to just turn it off when needed. The behavior you are experiencing is the one browsers think is the [best UX](https://bugzi

[2022-06-14 08:29] vopani commented on #1453
@mturoci Is there a simple solution for this? Experiencing this with some other components too (plot related).

[2022-06-14 08:40] vopani commented on #1499
Cool, thanks!
cc: @leecming82

[2022-06-14 08:40] #1499 closed

[2022-06-14 08:54] mturoci commented on #1453
Can you elaborate?

Wave has 2 server parts:
* Wave server - Go - these are the logs that you mention. These log all the browser - server traffic.
* App server - almost no logs other than a request to the app was fulfilled.

I assume you use logs for development / debugging purposes. In that case you have 2 options:
* Use proper [debugging tools](https://wave.h2o.ai/docs/development/#debugging-app

[2022-06-14 08:58] vopani commented on #1453
Just for reference, a similar discussion: https://github.com/h2oai/wave/issues/1374

[2022-06-15 02:45] henrycs opened #1501 "combobox cannot be updated in event handler"
#### Wave SDK Version, OS
h2o-wave-0.22.0, Ubuntu 20.4

#### Actual behavior
I put a combobox in page, and try to update choices and value in another event handler, no effects, the choices and value are kept in origin state, in same event handle, I set a text widget with a new content, it's OK.
Another testing, I restore wave to 0.21.0, same code, this time the choices are updated successfully (va

[2022-06-15 08:36] mturoci opened #1502 "Public/Private dir mapping"
Currently, our docs say

[code]
and uses `:` as separator between remove/local. However, [in code](https://github.com/h2oai/wave/blob/60b82ec4a337f8d529d8bc81c619b04d829f9e3f/server.go#L161) we split on `@`.

What should be the correct separator so that I know whether to fix code or docs @lo5? I assume docs :)

TODO: Add a note about case when running wave server via `wave run` - the path is not r

[2022-06-15 15:43] azim-b opened #1503 "file_upload required parameter"
#### Is your feature request related to a problem? Please describe

No

#### Describe the solution you'd like

Support for `required` parameter for `ui.file_upload()`, for example like `ui.dropdown()` or `ui.combobox()`

#### Describe alternatives you've considered

Responding if file upload is not done by checking `q.args` **after** the form is submitted.

[2022-06-16 06:52] vopani commented on #814
@mturoci Is there a suggestion for this?

cc: @leecming82

[2022-06-16 07:19] mturoci commented on #814
Wave tries to spare you from individual styling like this one. If there are any specific accessibility issues with particular components, we can fix them on Wave-level, however, we cannot please everyone naturally.

If the ^^ is not good enough, the only option is to roll up your sleeves and restyle the parts you are not happy with with custom CSS.

Related:
* https://wave.h2o.ai/docs/examples/met

[2022-06-16 11:32] vopani opened #1505 "File Upload error doesn't go away"
#### Wave SDK Version, OS
v0.22.0 on MacOS

#### Actual behaviour
After uploading a file with incorrect extension, the error doesn't go away even when a new file with correct extension is uploaded.

#### Expected behaviour
Error should not appear if correct extension is uploaded.

#### Steps To Reproduce
Code: https://wave.h2o.ai/docs/examples/file-upload-compact

Upload a file with `.jpeg` and th

[2022-06-18 16:00] pira998 opened #1508 "Frame's height attribute bug"
#### Wave SDK Version, OS

Wave 0.22.0, Mac

#### Actual behavior
`ui.frame`'s height attribute doesn't work properly with percentage. I put `height = '100%'` but it takes default value `height='150px'`
<img width="1597" alt="image" src="https://user-images.githubusercontent.com/46839677/174446297-2f6b751c-4fe3-43e7-8a1e-8ce5c3c449d6.png">

#### Expected behavior

<img width="1609" alt="image" src

[2022-06-19 03:12] ashrith opened #1510 "Error in installation of h2owave in R - install_github support"
### Discussed in https://github.com/h2oai/wave/discussions/1507

<div type='discussions-op-text'>

<sup>Originally posted by **aito123** June 17, 2022</sup>
Hello. Is of my knowledge that h2owave have support also for R language, i also read the post of v.0.22.0 mentioning R support:
https://wave.h2o.ai/blog/release-0.22

Nevertheless, the examples provided start with `library(h2owave)` which assu

[2022-06-20 19:45] mturoci commented on #1508
Hi @pira998. The reason this is not working is because you are using responsive layout and `%` height together, which in most cases is not a good idea. Responsive layouts expand according to their content if dimensions not set explicitly. Height in `%` means - take this `%` portion of parent element with a known height (explicitly set).

I suggest trying using a fixed `px` height.

[2022-06-21 11:46] pascal-pfeiffer opened #1511 "Let developer choose ui.image_annotator alignment (currently centered by default)"
#### Is your feature request related to a problem? Please describe

In large flexible layouts, I would like to choose the alignment of the `ui.image_annotator` component. Currently, the image is centered in the parent div by default without an option to modify this.

#### Describe the solution you'd like

My preferred solution would be to add a `justify` parameter to `ui.image_annotator` with "cen

[2022-06-21 21:07] mturoci opened #1512 "Wave Tour race condition"
When loading the Wave tour, monaco editor is not loaded properly sometimes.

[2022-06-22 16:16] g-eoj opened #1514 "Too easy to accidently get linux binary when installing on non-linux"
- docs aren't clear on the meaning of different binaries. Maybe change the install docs to categorize install artifacts by OS/Machine? For example there are users that don't know darwin = osx and I'm assuming arm = m1 chip
- `fetch` always gets the linux binary:
[code]

[2022-06-22 16:26] g-eoj opened #1515 "Display message if proxy detected"
#### Is your feature request related to a problem? Please describe

If user has a proxy set, wave app may not be able to communicate with wave server for local development. Figuring out this is the cause of apps not working takes a lot of time as there's no indication what went wrong.

#### Describe the solution you'd like

Display a message in terminal at server startup if proxy detected. H2O-3 h

[2022-06-23 00:03] mturoci commented on #1515
What kind of proxy is meant here? The `-proxy` option in Wave server?

[2022-06-23 00:06] mturoci commented on #1511
We will probably not going to make this configurable, but rather try to find the best UX possible and use it as a default.

Agree. Can you maybe send over some examples of similar text annotators that you have used previously and considered good UX?

[2022-06-23 00:48] g-eoj commented on #1515
`proxy` environment vars

[2022-06-23 01:03] g-eoj commented on #1515
Repro of behavior. Server is running on local but app can't find it and gets stuck.

[code]

[2022-06-24 03:20] ashrith commented on #1510
[code]

[2022-06-24 03:29] #1510 closed

[2022-06-24 15:33] aito123 opened #1519 "Error running an app (localhost) in R"
Hello, i'm running into this error using latest version of h2owave in R:

**Code:**
[code]

**Output:**

[code]

**Question:**

- How can i facilitate the connection with my localhost?

I'm running h2owave in R through RStudio. Let me know thanks.

[2022-06-24 17:31] ashrith commented on #1519
You need to run the wave server daemon. please download that from https://github.com/h2oai/wave/releases/tag/v0.22.0
e.g. this is for linux https://github.com/h2oai/wave/releases/download/v0.22.0/wave-0.22.0-linux-amd64.tar.gz
then run `./waved` this is the daemon. And then run the app in R, or Rscript and you should be able to see the app.

[2022-06-25 07:18] henrycs opened #1521 "avoid triggering event after textbox initialized with a user-defined input"
#### Wave SDK Version, OS
wave 0.22.0, Ubuntu 20.4

#### Actual behavior
I put a textbox (with value, not empty) in my page, after page initialized, if there is any event triggered, the value of textbox will be added in this event (q.args). since the value of textbox is set by me, so I don't think it's a good idea to trigger this event (no value changes), in some cases, I have to handle this "usel

[2022-06-27 12:32] vopani commented on #1521
This occurs in any case where there are multiple trigger components in a page.

It's quite unintuitive to trigger the event when there is no change in value (and quite annoying to handle as well).

[2022-06-27 12:38] vopani commented on #1521
In @henrycs 's example, the button is clicked, but the app runs the textbox trigger. Many apps face similar situations. Extra (redundant) code is required to prevent the textbox trigger (but to run it when textbox is actually triggered).

[2022-06-27 14:15] henrycs commented on #1521
jsut like vopani said, if we set the initial value of a textbox, after page loaded, we have to process this first useless event.

in my real case, I want to set textbox in other events and show the new value in the page, but current version of wave cannot do this, so I look for the second way, set new value to textbox using q.client.xxx or q.user.xxx, then reload the page, this time I get the expe

[2022-06-27 14:16] henrycs commented on #1521
jsut like vopani said, if we set the initial value of a textbox, after page loaded, we have to process this first useless event.

in my real case, I want to set textbox in other events and show the new value in the page, but current version of wave cannot do this, so I look for the second way, set new value to textbox using q.client.xxx or q.user.xxx, then reload the page, this time I get the expe

[2022-06-27 17:35] lo5 commented on #1521
This is not a bug. The semantics are not "submit only when values change". By design, all values are sent from the UI to the app.

`@on("foo")` does not mean "when `foo` is changed". It means "when `foo` is found".

See [docs](https://wave.h2o.ai/docs/routing#handling-query-arguments).

[2022-06-27 18:45] #1512 closed

[2022-06-28 04:39] vopani commented on #1521
I thought the same but there is some gap. It might not be a bug but it is difficult to handle easily because of how it's being submitted. Take the example above itself.

After launching the app, when the button is clicked, the set textbox value is submitted even though not edited. Let's say this is fine.
If I click the button again, why doesn't the textbox value be submitted then?

- If the expect

[2022-06-28 11:56] psinger opened #1523 "Combobox custom value cannot be unselected"
When adding a custom value to a `combobox`, it cannot be unselected.

It appears though, that it only cannot be unselected in the visual UI, but it is de-selected in `q.args`.

https://user-images.githubusercontent.com/1677826/176172530-afcf889b-a89c-436c-a00f-8a6bb88c1604.mp4

[2022-06-29 09:15] ybabakhin opened #1525 "Allow lower values in Spinbox"
#### Wave SDK Version, OS

0.21.1, Ubuntu

#### Actual behavior

Setting minimum and step values to 1e-7 in `ui.spinbox` does not work, as all the changes are giving either 0 or 1e-7 value:

https://user-images.githubusercontent.com/25034016/176399405-cd27814d-ac5e-429b-9647-beac9b2b4bc9.mov

With 1e-6 min and step values everything looks good:

https://user-images.githubusercontent.com/25034016/1

[2022-06-30 21:56] mtanco opened #1526 "Choice Group alignment ignored"
#### Wave SDK Version, OS
0.22.0

#### Actual behavior
Choice group is rendering horizontally, regardless of the `inline` value.

#### Expected behavior
Choice group should be able to be vertical or horizontal

#### Steps To Reproduce
See the documentation screen shots here: https://wave.h2o.ai/docs/widgets/form/choice_group/
where even when inline is not set we have grid format not vertical

[2022-07-01 06:24] mturoci commented on #1526
Should be fixed by https://github.com/h2oai/wave/commit/7d290e1b2243202bdf51ba3e847b52cd4be3dafc. @mtanco can you please verify this in nightly?

[2022-07-01 08:45] mturoci commented on #1515
The app should timeout rather than hang, so will need to investigate that on our side - cc @lo5

On second thought, this is more of an env related rather than Wave related. Wouldn't running `printenv | grep -i proxy` yourself suffice?

[2022-07-01 09:29] mturoci commented on #1250
@g-eoj @codeananda seems like `conda install -c h2oai h2o-wave` works in the newer Conda versions (tested against `conda 4.13.0`). Please verify.

Yes. We do not include waved within conda distributions yet, need to make it more obvious in the docs, thanks for pointing it out!

[2022-07-04 05:58] mturoci opened #1527 "Docs for R"
Integrate R documentation into our current https://wave.h2o.ai/.

[2022-07-04 11:29] mturoci commented on #1475
@roema I managed to fix the vega perf issue, but I am not clear on what is the problem with line plots. Can you please give me a runnable min repro that would exhibit different behavior against 0.20?

[2022-07-06 10:12] mturoci commented on #518
Closing as this has already been addressed by:

https://mathanrajsharma.medium.com/how-to-deploy-h2o-wave-app-on-heroku-2abe2240731c
https://medium.com/@srini.x/deploy-your-wave-app-in-5-minutes-bd440d00917f

[2022-07-06 12:49] #1331 closed

[2022-07-07 08:25] #1526 closed

[2022-07-08 02:41] VijithaEkanayake opened #1530 "Provide a way to handle user session invalidation originated from third party"
#### Is your feature request related to a problem? Please describe
We have an OIDC-enabled wave application and it working fine with the usual flow. However, we faced a problem when the user session is terminated in some other way (with another apps logout or validate the session via keycloak), the wave app is not notified even though we register the system.logout event as mentioned in the [docs](

[2022-07-08 05:00] dulajra commented on #1530
FYA @mtanco

[2022-07-08 07:50] #1502 closed

[2022-07-08 09:29] #1505 closed

[2022-07-09 17:37] lo5 commented on #1530
I'd love to see a PR for this based on what you think the ideal solution is.

[2022-07-11 08:12] #1498 closed

[2022-07-11 09:13] #1475 closed

[2022-07-11 09:19] #1523 closed

[2022-07-12 07:09] mturoci opened #1535 "Allow vertical alignment for ui.inline"
via @azim-b

Add `align` attr to `ui.inline` to allow for vertical alignment. Currently, we [center everything by default](https://github.com/h2oai/wave/blob/989d2c808f0bb60f7e179bb2a7a9ccb44ad6064f/ui/src/form.tsx#L201), which does not suit every case, e.g. displaying 2 choice groups side by side with different choice counts:

<img width="292" alt="image" src="https://user-images.githubuserconten

[2022-07-12 11:13] vopani commented on #1459
Possible with some JS using: https://medium.com/@unusualcode/record-audio-in-h2o-wave-apps-fcd6c0b05e59
Thanks @mturoci !

[2022-07-12 14:07] TravisCouture opened #1536 "Icon Bug For Textbox Component When Setting Mask Parameter"
#### Wave SDK Version, OS

Ecnountered on Wave 0.22.0, Mac OSX 11.3.1

#### Actual behavior

Adding a mask to a textbox component disables the ability to specify an icon.

#### Expected behavior

Be able to add both a mask and icon to a textbox component.

[2022-07-12 22:59] mtanco opened #1537 "Datetime picker"
#### Is your feature request related to a problem? Please describe
As part of a form, we may need to know a date and a time from the end user. Today, the developer would need to create a DataPicker and then manually ask the user for a time, possibly a textbox with a mask.

#### Describe the solution you'd like
A single date time component

#### Describe alternatives you've considered
A new time pi

[2022-07-13 01:39] lo5 commented on #1537
The Fluent time picker isn't documented, and has limitations: https://github.com/microsoft/fluentui/issues/9545#issuecomment-874008751

[2022-07-13 01:42] lo5 commented on #1537
I'd recommend creating a separate time picker component. It should be fairly easy to display a date picker and a time picker side by side by the app, as opposed to providing a combined date and time picker in Wave.

[2022-07-13 11:55] #215 closed

[2022-07-13 11:56] #556 closed

[2022-07-13 12:55] aalencar commented on #1461
@gaborfodor I couldn't reproduce it. Could you provide the repro code and the image you used?

[2022-07-14 06:33] ledell opened #1542 "Image zoom when clicking on an image"
On some websites, if you click on an image, it will blow up to fullscreen mode (with an "x" to exit the view). Maybe we can add this functionality to Wave?

[2022-07-14 12:13] #1514 closed

[2022-07-14 12:14] mturoci commented on #1514
@g-eoj `wave fetch` will download the correct OS-specific bundle from now on.

[2022-07-14 12:15] #1422 closed

[2022-07-14 12:16] #1453 closed

[2022-07-14 12:18] mturoci commented on #816
Can be considered done since #31 has already been resolved. The plot data are hardcoded in almost all examples now. The dashboard example will use Faker for convenience.

[2022-07-14 12:20] #784 closed

[2022-07-14 12:37] mturoci commented on #14
Closing as resolved by Wave Studio.

[2022-07-14 12:37] #14 closed, assigned to lo5

[2022-07-15 08:11] nipdep opened #1546 "h2o-wave plot overflow"
#### H2O Wave - 0.22.0 | Python - 3.8.12 | OS - macOS Monterey

#### `ui.plot` figure overflows to following cards

__When we set `y_min=0` in `h2o-wave plot` but input data has negative values, plot overlaps the following card values.__
<img width="436" alt="Screenshot 2022-07-15 at 1 14 17 PM" src="https://user-images.githubusercontent.com/46063855/179181214-21f12148-74aa-4a6d-bbfe-8e2a0acd33d4.

[2022-07-15 08:12] fousasg opened #1547 "Ability to turn off SSL cert verification when doing requests from Wave server (e.g. Keycloak)"
#### Is your feature request related to a problem? Please describe

When WAVE server is running with keycloak which uses self-signed certificates it returns the following error:
[code]

#### Describe the solution you'd like

It would be helpful if it would be possible to turn off SSL cert verification

[2022-07-18 05:26] roema commented on #1475
@mturoci, Thanks for you work!!

Yes, i would create a runnable repro and create an new issue!

[2022-07-18 07:21] #1536 closed

[2022-07-18 07:25] mturoci commented on #1475
Feel free to test the vega perf fix in our nightly and let me know if the fix is sufficient.

[2022-07-18 07:54] #1546 closed

[2022-07-18 08:07] nipdep opened #1549 "wave-plot y-axis label inconsistency"
#### H2O Wave - 0.22.0 | Python - 3.8.12 | OS - macOS Monterey

#### When `ui.plot` has more than one `ui.mark` where different `mark` are using different data sequence the resulting plots y-labels be inconsistent.

<img width="331" alt="Screenshot 2022-07-15 at 1 22 21 PM" src="https://user-images.githubusercontent.com/46063855/179469220-bfd543c1-2686-4d13-9a70-147553cea780.png">

#### Expected b

[2022-07-18 09:06] mturoci commented on #472
Resolved by #644.

[2022-07-18 09:06] #472 closed

[2022-07-18 09:07] mturoci commented on #1216
Closing as resolved thanks to #644

[2022-07-18 09:37] #1048 closed

[2022-07-18 09:38] mturoci commented on #24
This is already possible via custom CSS.

[2022-07-18 09:38] #24 closed

[2022-07-18 09:44] #272 closed

[2022-07-18 13:35] mturoci commented on #1547
cc @lo5 for discussion. Shall we allow disabling this for every Wave server HTTP request or just special-case it for Keycloak? Also, we need to make sure to put a big red warning about not using this in prod.

[2022-07-19 06:56] mturoci commented on #1549
I think this is more of a feature than bug, isn't it @lo5?

[2022-07-19 07:22] mturoci commented on #646
Already implemented via #730

[2022-07-19 07:22] #646 closed

[2022-07-20 13:34] gaborfodor commented on #1461
@aalencar
Probably the simplest is to reproduce it with the demo code https://wave.h2o.ai/docs/examples/image-annotator

[2022-07-21 07:38] mturoci commented on #1549
As discussed with @lo5, this is not a bug, but a feature. Having a single axis for multiple marks is tracked in #1292

[2022-07-21 07:38] #1549 closed

[2022-07-21 08:59] marek-mihok commented on #1474
The problem lies in `tooltip.ts:L98` in `titleScale.getText(originData[titleField])` where

[code]
and `titleField: "low - high"`.

When `x_scale="time"` the data are treated as a date objects. In our ranged `low - high` data an array is passed to the G2 date parsing function and it throws error as seen on the picture below:

<img width="1446" alt="image" src="https://user-images.githubusercontent

[2022-07-21 10:15] mturoci commented on #1461
It seems like this happens only during when the canvas boundary is hit repeatedly.

[2022-07-21 10:28] aalencar commented on #1461
I managed to reproduce this time and it doesn't have to be done repeatedly. See the video:

https://user-images.githubusercontent.com/15820796/180192491-c2db462c-ee10-4aca-811a-7e560b876229.mov

[2022-07-21 12:25] mturoci commented on #837
Seems like this is now possible to fix due to switching to SVG icons instead of font icons.

[2022-07-21 12:26] #837 closed

[2022-07-21 16:57] Rmfjd1978 opened #1550 "Navgroup"
Is it Possible to create a navgroup inside a navgroup?

[2022-07-21 17:03] #1550 closed

[2022-07-21 17:03] Rmfjd1978 commented on #1550
wrongly created

[2022-07-21 17:05] Rmfjd1978 opened #1552 "NavGroup inside Navgroup"
It would be great that in the NavGroup object the items parameter Allow a NavGroup and also a NavItem allowing to create Sub-Menu's?

[2022-07-22 04:18] Nischaydnk opened #1553 "Path support for image annotator"
#### Is your feature request related to a problem? Please describe

I'm planning to build a generic annotator app for images. Currently, wave only supports bounding box annotation (rectangle). For the segmentation part, there is no way to annotate masks. Introducing that in the image annotator could be a great addition.

#### Describe the solution you'd like

path support (polygon) can be introduc

[2022-07-22 05:29] vopani commented on #837
@mturoci Can you share an example here for reference purposes? Thanks!

[2022-07-22 06:01] ShehanIshanka opened #1554 "Table component does not show multi spaces"
#### Wave SDK Version

0.21.1

#### Actual behavior

Multi spaces are shown as a single space.
Front spaces are not shown.

#### Steps To Reproduce

[code]
<img width="479" alt="Screenshot 2022-07-22 at 11 31 01" src="https://user-images.githubusercontent.com/29954570/180373465-cf189fb4-7c5f-40b9-b797-b2941a96549d.png">

[2022-07-22 06:57] mturoci commented on #837
Sure.

Before
![image](https://user-images.githubusercontent.com/64769322/180381626-d749c745-f5ce-4f86-ae50-98e9813923d0.png)
After
![image](https://user-images.githubusercontent.com/64769322/180381691-6c0e55b4-fd37-4d5e-8e90-946df473ef04.png)

https://github.com/h2oai/wave/issues/837#issuecomment-849600340 still stands as some icons are not cropped properly, making it impossible to achieve center

[2022-07-22 07:11] mturoci commented on #1554
This is how HTML works by default. See [explanation](https://stackoverflow.com/questions/433493/why-does-html-require-that-multiple-spaces-show-up-as-a-single-space-in-the-brow). If you really want multiple spaces to be shown, you can use [markdown cell](https://wave.h2o.ai/docs/widgets/form/table#markdown-support) with `<pre>` tag.

[2022-07-22 07:11] #1554 closed

[2022-07-24 09:50] suthesank commented on #617
Faced the same issue recently with a chart combining line and area marks. Here's a workaround that helped me with the y-axis alignments.

[code]

[2022-07-25 08:25] #1357 closed

[2022-07-26 05:32] ShehanIshanka opened #1557 "File removing error in App store"
#### Wave SDK Version, OS

0.21.1

#### Actual behavior

I am using q.site.unload function to remove files from `f` folder. In AppStore, it provides an error as below.
[code]

Then after investigating, I found that Wave expects file path url to begin with `/_f` . This path is returned from wave upload component and we provide it to `q.site.unload` function.

![image (1)](https://user-images.github

[2022-07-28 13:46] mturoci opened #1561 "Do not allow directory listing"

[2022-07-29 08:25] MartinBarus opened #1562 "Plot Legend list arrows are broken"
#### Wave SDK Version, OS

Mac, wave 22

#### Actual behavior

When there is a plot with legend and too many line plots, the legend allows for scrolling (yellow arrows).

These arrows work one way (next), but no the other way (previous) so once you scroll to last portion of legend, you cannot get back to the first portion of it

<img width="611" alt="Screenshot 2022-07-29 at 10 18 51" src="https:/

[2022-07-29 10:01] #1561 closed

[2022-07-29 11:53] marek-mihok commented on #1490
1 - It should occupy 100% of height of the parent container (similar to width behavior).
2, 3 - The implementation of behavior in 1 would be too complex and it would require the re-implementation of all components supporting height attribute so we decided to [remove percentage units support for ui.textbox](https://github.com/h2oai/wave/pull/1518) to prevent these issues.

[2022-07-29 14:23] vopani commented on #1490
Thanks!

[2022-07-30 14:36] vnnw opened #1564 "[Feature]: Add tooltips for Small/ Tall/ Wide Series Stat"
#### Is your feature request related to a problem? Please describe

I wish there are tooltips for Series Stat while mouse hovering on the series which show corresponding X, Y axis data, so we can see the exact metrics of the trend without extra efforts.

#### Describe the solution you'd like

Add D3 charts tooltips for current Series Stat chart parts.

[2022-08-01 09:13] #1470 closed

[2022-08-01 10:39] MartinBarus opened #1565 "Make space between navigation groups configurable/smaller"
#### Is your feature request related to a problem? Please describe

When we have many navigation groups (5) each with 2 sub-fields, we get a scroll bar, but there is a lot of unused space between the groups:
<img width="193" alt="Screenshot 2022-08-01 at 12 36 15" src="https://user-images.githubusercontent.com/6991522/182130671-ed43ef6e-a58d-4a1e-9b47-f59dfc18600f.png">

[code]

[2022-08-01 13:50] mturoci commented on #1565
Tmp workaround:

[code]

[2022-08-01 14:06] #1565 closed

[2022-08-02 14:14] MartinBarus opened #1569 "dynamically hide table columns"
Similarly, to how a table multi select can be invoked dynamically for an existing table by `table.multiple=True` it would be great if we were able to dynamically hide (maybe even add) columns, something like `table.columns[-1].visible=False`

Motivation : When we have experiments table in HT, there are some actions to be done for single row (like rename experiment), which are done using action col

[2022-08-02 14:54] aalencar commented on #1569
Hey @MartinBarus, thanks for suggesting this feature!

What about allowing filter and sort parameters to be set when creating the table? Maybe this could solve your issue and be used in other scenarios too.

I know it's easier for you to just set `table.columns[-1].visible=False` but from a performance point of view the component will be recreated either way behind the scenes, right @mturoci?

[2022-08-03 06:48] #1230 closed

[2022-08-03 07:07] #1557 closed

[2022-08-03 07:16] mturoci commented on #1569
Not necessarily, if hidden, the col cells can still remain in the DOM and only CSS repaint would be needed. Not sure if Fluent provides such a feature though.

[2022-08-03 07:25] #1460 closed

[2022-08-03 08:00] MartinBarus commented on #1569
@aalencar allowing filter and sort parameters could also solve it, but we would have to be able to take updated filters from an existing table, something like `new_table = ui.table(..., filters=old_table.filters, sort_filters=old_table.sort_filters)` or something similar

[2022-08-04 16:21] ShehanIshanka opened #1572 "When button is rendered as a link, it is not right-clickable nor one can copy hyperlink"
#### Wave SDK Version, OS

0.21.1

#### Actual behavior

https://user-images.githubusercontent.com/29954570/182899869-dff94180-c528-4c0d-ab0f-902606064a5a.mov

#### Expected behavior

Ability to open the link in new tab, new window, copy the link etc.

[2022-08-05 15:40] ShehanIshanka opened #1574 "Dropdown value clearing"
#### Wave SDK Version, OS

0.21.1

#### Actual behavior

I have two dropdowns and I need to clear the selected value of the second dropdown when the value of the first dropdown changes.

This works fine with form by setting the second dropdown value as `None`.

[code]

https://user-images.githubusercontent.com/29954570/183110581-37e9c894-6e90-415c-9391-51fdd2db78c3.mov

When the dropdowns are in a

[2022-08-08 06:31] #1501 closed

[2022-08-08 06:49] mturoci commented on #1572
@ShehanIshanka the feature you want is available when using `ui.link` instead of `ui.button`. To add more clarity:

`ui.button` with `link=True` means - render a button that looks like a link, but unlike regular `ui.link` it should only be used for a wave-specific hash navigation (`#page1`), in other words like a regular Wave button with different styling. This is not possible with `ui.link` as th

[2022-08-08 08:20] #1547 closed

[2022-08-08 08:56] ShehanIshanka commented on #1572
@mturoci Thanks for the response and solution.

[2022-08-08 08:57] #1572 closed

[2022-08-08 13:40] aalencar commented on #1481
@zillionare I already did some investigation and indeed there is some inconsistent behavior on how array and cyclic data buffers work with plot.

Could you clarify some points?

The declared size is 120 but the array is empty (0), is that what you meant?

It already draws the initially provided values. Do you want the axis to be drawn when there is no data provided initially as well?

I didn't get

[2022-08-08 17:15] Rmfjd1978 opened #1577 "Title on ui.menu"
I have to make a menu inside a header, but my menu needs to have some title

The solution is to have a parameter named label inside de ui.menu that is added to the chevron on a simple menu style.

the alternative solution that i have, is in one of the items of the header is a ui.inline with two items one ui.text and one ui.menu
[code]

image of the pretended menu:
![image](https://user-images.gith

[2022-08-09 02:36] ShehanIshanka opened #1578 "Text box value clearing"
#### Wave SDK Version, OS

0.21.1

#### Actual behavior

I want to clear the value of a textbox when dropdown is changed in a dialog. But this is weirdly interconnected with textbox tooltip.

Scenario 1: Without tooltip - Not working

[code]

https://user-images.githubusercontent.com/29954570/183548744-aaa8c616-1b10-44c3-b227-d8962f71ba55.mov

Scenario 2: With tooltip - Not working

[code]

https:

[2022-08-09 07:04] mturoci commented on #1578
Part of #1154

[2022-08-09 10:42] mturoci commented on #1562
This is a bug in the underlying plotting library, tracked in https://github.com/antvis/G2/issues/2549.

Reasoning: G2 lib supports 2 types of renderers - canvas and SVG. Wave uses SVG to leverage the power of CSS variables for theming. Unfortunately, the legend pagination is broken for this type of renderer.

[2022-08-09 16:26] mturoci opened #1579 "Display error messages in the main index.html in case there are any (e.g. WS-related)"
Source: https://h2oai.slack.com/archives/C013PAVE2CS/p1660059781483129

[2022-08-10 16:16] Nayananga opened #1581 "Zoom does not work well on charts"
#### Wave SDK Version, OS

0.21.1, macOS 12.5

(e.g. 4.2.0, Windows)

#### Actual behavior

(A clear and concise description of what happened.)
Zoom does not work well on charts,

https://user-images.githubusercontent.com/25351304/183960901-0ef3d330-86d1-43e9-bf95-02253245455d.mov

#### Expected behavior

(A clear and concise description of what you expected to happen.)
Zoom should work well on ch

[2022-08-10 16:39] Nayananga opened #1582 "Line chart has a gap between first point and Y-axis"
#### Wave SDK Version, OS

(e.g. 4.2.0, Windows)
0.21.1, macOS 12.5

#### Actual behavior

(A clear and concise description of what happened.)

The line chart has a gap between the first point and Y-axis

<img width="590" alt="Screenshot 2022-08-10 at 22 01 27" src="https://user-images.githubusercontent.com/25351304/183964814-ad6790f8-4ae7-4e81-8005-ace11236fa10.png">

#### Expected behavior

(A c

[2022-08-10 17:06] Nayananga commented on #1582
Also, I see the line label is crossed by the line itself in the **Safari** web browser

![Screenshot 2022-08-10 at 22 36 11](https://user-images.githubusercontent.com/25351304/183973852-29dc027a-cf4c-4e38-9765-838a99bb43b8.png)

[2022-08-11 07:29] mturoci commented on #1582
The demo is not runnable for me (see screenshot), but my guess is that the reason for this behavior is `y_min=0`.

<img width="696" alt="image" src="https://user-images.githubusercontent.com/64769322/184084483-bb42e141-e2e3-41eb-8476-c250469fc6d5.png">

[2022-08-11 07:35] mturoci commented on #1581
<img width="796" alt="image" src="https://user-images.githubusercontent.com/64769322/184085501-4136a457-b58b-4ea3-84e0-4a2a874bf2ff.png">

Related to #1474

[2022-08-12 05:40] vopani commented on #999
Is there a way to force a download irrespective of format? Or at least open in a new tab?
Was facing a similar issue while using `.json` files.

Particularly because when the file is opened in browser, there is no way to go back to the app without refreshing it (losing saved arguments in the process).

cc: @Nischaydnk

[2022-08-12 11:57] Nayananga commented on #1582
I'm directly copy pasting working code here, please check

[code]

[2022-08-12 11:59] Nayananga commented on #1582
@mturoci I tried by removing `y_min=0` but still no difference

[2022-08-12 13:07] mturoci opened #1584 "Allow uploading directories, not just multiple files"
#### Is your feature request related to a problem? Please describe

Currently, `q.site.upload` allows for specifying a list of files to be uploaded in a batch. However, Wave server creates a separate uuid-named folder for each file. Sometimes it's needed to keep the dir structure though, especially when working with 3rd party JS libs that dynamically load scripts using relative paths.

#### Descri

[2022-08-12 13:48] mturoci opened #1586 "Regression caused by non-interactive plots"
Regression introduced by #1331.

Repro:

[code]

Rendering blank page with a console error:

<img width="677" alt="image" src="https://user-images.githubusercontent.com/64769322/184366821-5338c8b2-1975-4cf8-bd1c-5d0601c73f56.png">

The problem is at `plot.tsx:1111`.

[2022-08-12 14:23] mturoci commented on #1582
You need to use proper ISO dates and set `x_scale='time'` instead of plain strings.

[2022-08-12 14:27] mturoci commented on #982
We could move the files within the FS in if wave app and wave server are located on the same machine (which is very common anyway) and dodge pushing it through HTTP. Wdyt @lo5?

[2022-08-12 18:52] mtanco commented on #940
For anyone who might want this - here is how to make your `ui.text()` look like a wave frame or plot title:
`ui.text('<a style="font-size:12px;font-weight:600">Customer Data</a>'),`

[2022-08-15 10:03] #1562 closed

[2022-08-15 10:05] mturoci commented on #1582
Safari bug fixed in #1587.

[2022-08-15 10:05] #1582 closed

[2022-08-15 10:36] mturoci commented on #1474
@marek-mihok one way to fix this is providing our own string for the tooltip title instead of having it computed by G2. This can basically be any string since we overwrite the tooltip with our custom React component without a title anyway. Wdyt?

Solution:

[code]

[2022-08-16 07:18] #1579 closed

[2022-08-16 10:44] mturoci commented on #410
Resolved by #1230

[2022-08-16 10:44] #410 closed

[2022-08-16 10:55] mturoci commented on #1264
@DrRadan this is available since `0.21`.

[2022-08-16 10:55] #1264 closed

[2022-08-16 10:56] #1266 closed

[2022-08-16 11:19] mturoci commented on #1243
`q.run` and `q.exec` are simple wrappers for blocking functions and executing them in the background. If want to use Python tasks yourself, there is nothing stopping you from doing so. The feature you are requesting is not going to be implemented on Wave level (as it's not really wave-related).

I suggest reading [this blog post](https://medium.com/@unusualcode/background-jobs-in-wave-or-how-not-t

[2022-08-16 11:19] #1243 closed

[2022-08-16 11:21] mturoci commented on #1148
Hey @Far0n what's the reason for ^^ in comparison to centering? (if this feature request is still valid)

[2022-08-16 11:22] mturoci commented on #916
This is what `ui.nav_card` is for, right?

[2022-08-16 11:24] #889 closed

[2022-08-16 11:28] mturoci commented on #655
Resolved by https://github.com/h2oai/wave/issues/965

[2022-08-16 11:28] #655 closed

[2022-08-16 11:31] mturoci commented on #565
Part of #1154

[2022-08-16 11:31] Far0n commented on #1148
@mturoci I can easily look a bit off (imho) if center of mass of the app's cards is significantly above the screen center:
![grafik](https://user-images.githubusercontent.com/6949295/184869126-3ce032a8-18ae-4074-8f1a-72d9dec0d69d.png)

I like this better:
![grafik](https://user-images.githubusercontent.com/6949295/184869387-936f5991-0556-420f-8f30-9d896742caad.png)

[2022-08-16 11:33] mturoci commented on #1148
This seems like a color contrast problem rather than a need for alignment.

[2022-08-16 11:35] Far0n commented on #1148
idk, for me dialogs just too far down:
![grafik](https://user-images.githubusercontent.com/6949295/184870027-91cd67f0-c013-4ed8-b49a-c27fe17d1dd4.png)

[2022-08-16 11:36] Far0n commented on #1148
would be nice to allow it to place here:
![grafik](https://user-images.githubusercontent.com/6949295/184870180-c16d05ce-d82d-4a02-a5bf-b98c59de57c0.png)

[2022-08-16 11:39] Far0n commented on #1148
kk, let's close this here then?

[2022-08-16 11:40] mturoci commented on #1148
Agree.

[2022-08-16 11:40] #1148 closed

[2022-08-16 15:28] Nayananga opened #1589 "Large number of data points make "interval" plot un usable"
#### Wave SDK Version, OS

0.21.1, macOS 12.5

#### Actual behavior

(A clear and concise description of what happened.)
Showing a large number of points in an "interval" type table makes it slow for `interactions=["brush"]` and visually un-usable

<img width="717" alt="Screenshot 2022-08-16 at 18 16 46" src="https://user-images.githubusercontent.com/25351304/184918188-16ddc132-59ae-4f49-ba5b-1c93

[2022-08-17 09:33] Nayananga commented on #1472
@lo5 is it possible to show time differences by providing timestamps? If we explicitly provide times, then showing time differences between 2 days would be problematic

[2022-08-17 13:03] mturoci commented on #1388
Instead of building this out ourselves, I would direct people to [this blog post](https://medium.com/@unusualcode/integrating-vscode-editor-into-h2o-wave-2c075a303974).

[2022-08-17 13:03] #1388 closed

[2022-08-17 13:43] #1586 closed

[2022-08-17 13:54] #1446 closed

[2022-08-17 16:17] marek-mihok opened #1592 "Wide series stat should not move when textual values change"
This is the same issue as #1446 but for `ui.wide_series_stat`:

https://user-images.githubusercontent.com/23740173/185189539-505274cf-ab2b-4091-a554-0317bae05cfb.mov

### Implementation notes
Provide similar fix for `ui.wide_series_stat` as the fix provided for `ui.wide_gauge_stat` in #1566 and prevent the value moving when the value change is within the same numeric order.

[2022-08-17 16:52] marek-mihok commented on #1474
Thanks @mturoci. That's a perfect idea!

[2022-08-17 17:00] JasminePParekh opened #1595 "Customize axis order for categorical plots"
Currently, plots with a categorical axis present each category by the order that it is introduced in the data. Therefore explicit axis order customization is not possible.

Possible Solution: Option to be able to customize the order of categories on a plot.

Context: I am trying to use a heat map to create a confusion matrix in wave. However, I am not able to specify each square according to indus

[2022-08-18 07:22] #1474 closed

[2022-08-18 08:06] #1584 closed

[2022-08-19 11:31] dott1718 opened #1596 "Keyboard shortcuts"
Keyboard shortcuts for the image annotation component.

Keyboard shortcuts will speed up image annotation tasks significantly. The shortcuts can be a part of the corresponding components (built-in by default) without any extra API. The exception would be actions, that need to be handled by the app dev, e.g. next/prev image. These could be registered via 'events' to keep API consistent. For discove

[2022-08-19 11:47] dott1718 opened #1597 "(Instance) segmentation annotation for images"
The ui.image_annotator shall be extended by another feature: (instance) segmentation. This is very similar to the existing image box annotation feature, but allows polygon types and per pixel object annotations instead of boxes.
- In case of instance segmentation, the output would be a list of objects with [run length encoded masks](https://en.wikipedia.org/wiki/Run-length_encoding) or polygons or

[2022-08-19 11:55] dott1718 opened #1598 "Image annotator component enhancements"
Few improvements and enhancements of ui.image_annotator component:
- [ ] Resizing of edges (not only corners)
- [ ] Enlarge the handles for resizing, visually and also from mouse response
- [ ] Ability to change the tag of existing boxes
- [ ] Ability to display text (e.g. confidence score/annotator_id etc.) with the bounding boxes
- [ ] Customizable text hover for bounding boxes
- [ ] Ability to

[2022-08-19 11:56] dott1718 commented on #1542
It would make sense to implement a similar user experience of image zoom as for image_annotator component https://github.com/h2oai/wave/issues/1598

[2022-08-19 11:59] dott1718 opened #1599 "Carousel and Image Gallery / Image Grid"
Current implementations to nicely show multiple images or galleries in wave apps involve quite a bit of javascript and/or HTML & CSS usage. It would be helpful to further abstract that functionality to the wave framework and to add common image displays to speed up the app development process. It would also help to prevent speed issues and to align UX across wave apps.

We are looking for either a

[2022-08-19 12:02] dott1718 opened #1600 "Color picker extension"
Currently, it’s possible to either have a color_picker or a predefined list of color choices (swatch picker). It would be great to combine these features and give the user the ability to choose another color outside of the predefined colors. A preferred choice would be to have three dots or a dropdown icon at the far right of the swatch picker, that would popup the usual color picker for a new use

[2022-08-19 12:15] dott1718 opened #1601 "Audio annotation component"
A new audio display widget with annotations functionality. The user should be able to play the audio recording, and “move” through it. For example, the element can look as follows:

<img width="924" alt="image" src="https://user-images.githubusercontent.com/12784356/185615048-90f65bd7-a476-4754-9435-1988cbe9aa47.png">

It is important to highlight the timestamp element:

<img width="298" alt="imag

[2022-08-22 09:57] lampda opened #1603 "ui has no table_pagination, nor filters"
#### Wave SDK Version, OS

(e.g. 0.20.0, MacOS)

#### Actual behavior

filters=['Open', 'Closed']

AttributeError: module 'h2o_wave.ui' has no attribute 'table_pagination'

#### Expected behavior

see example here : [https://wave.h2o.ai/docs/examples/table-pagination-pandas](https://wave.h2o.ai/docs/examples/table-pagination-pandas)

#### Steps To Reproduce

see example here : [https://wave.h2o.ai

[2022-08-22 11:58] lampda commented on #1603
solved by updating python to a new version , and latest version of h2o-wave is also installed.

[2022-08-22 11:58] #1603 closed

[2022-08-24 13:57] aalencar commented on #1578
@ShehanIshanka
Indeed this shouldn't be the case and is not consistent with the rest of the components.

Some basic explanation: When using tooltip you add a new Tooltip component under the hood (in React) which in turn recreates Textbox allowing you to set its initial value once again. With `trigger=True` you get the empty string because Wave is detecting the newly created Textbox with value `""`

[2022-08-24 14:12] ShehanIshanka commented on #1578
Thank you @aalencar for the explanation

[2022-08-25 10:33] Far0n opened #1607 "ui.file_upload sucess message bar doesn't show correct file names"
#### Wave SDK Version, OS

wave 0.22.0

#### Actual behavior

`ui.file_upload` doesn't show proper file names in success message
![grafik](https://user-images.githubusercontent.com/6949295/186642417-ddfeda49-22df-481b-9c93-c7df06bd46a8.png)
(Shows "." if 1 file was uploaded and adds a "," per additional file)

#### Expected behavior

`ui.file_upload` shows proper file names in success message

###

[2022-08-30 09:07] shihan007 opened #1608 "Inline Error message not visible enough in dark theme"
![image](https://user-images.githubusercontent.com/38729017/187397205-037de6bd-4bfa-49d8-b301-5c41b28a9957.png)
Red color not contrast enough with black background. in the asterisk and the error text

[2022-09-02 11:13] DeshanHarshana opened #1610 "[Feature] : Add Language Translator"
Most of the time when we are going to create a dashboard using wave, it is good to create it in different languages for understanding different people more clearly. Instead of creating different components for different languages, it is easy to add language JSON files manually.

For example, in angular, we use ngx-translate for doing this task. If we can make a library like that we can use simple

[2022-09-02 15:56] marek-mihok commented on #1358
Thanks for the request! @pascal-pfeiffer @vopani could you please check whether my implementation [here](https://github.com/h2oai/wave/pull/1612#issue-1360363854) is as you imagine?

[2022-09-05 09:44] #1607 closed

[2022-09-05 09:47] mturoci commented on #1610
Hi @DeshanHarshana, seems like [python-i18n](https://pypi.org/project/python-i18n/) is what you are after.

[2022-09-05 09:51] mturoci commented on #1600
Can you elaborate on why would this be needed?

Citing my comment in the design doc:

_If the user picks an arbitrary color, isn't it also expected that they will choose it also? In which case adding it to the swatch picker seems unnecessary.
Btw this may already be possible using inline=True color picker and updating the swatch picker choices accordingly._

[2022-09-05 11:49] dulajra commented on #1589
Blocked until https://github.com/h2oai/wave/issues/1589 is released

[2022-09-05 12:56] Nayananga opened #1613 "Allow displaying plot axis via intl-formatted strings."
#### Wave SDK Version, OS

0.21.1, macOS 12.5.1

#### Actual behavior

A chart unable to show different times within a day

![Screenshot 2022-09-05 at 18 24 51](https://user-images.githubusercontent.com/25351304/188454408-5e08fb7d-3f18-48ff-91bb-b7834c9eeb01.png)

#### Expected behavior

Users need to show data on different dates or different times within a day or both scenarios at the same time (

[2022-09-05 12:58] Nayananga commented on #1472
raised a specific issue here https://github.com/h2oai/wave/issues/1613
CC @dulajra

[2022-09-05 13:00] Nayananga commented on #1613
cc @dulajra @shereezhang

[2022-09-05 13:11] dott1718 commented on #1600
The suggestion in a nutshell is to allow inline=True and choices=[] to work when provided at the same time.

The use case we work on is a screen where a user can add "classes", name them and assign colors, therefore choices=[] works well to quickly pick a new color for each class. But with large number, the colors will repeat.

![image](https://user-images.githubusercontent.com/12784356/188449338-

[2022-09-05 13:47] #1578 closed

[2022-09-06 11:58] #1608 closed

[2022-09-07 08:16] MartinBarus opened #1615 "ui.combobox returns different types of values"
sometimes the return value is string (when selected by dropdown), sometimes, if you type some text in it, list is returned instead, for the same instance.

You can also use this tutorial to reproduce https://wave.h2o.ai/docs/examples/combobox

[2022-09-08 09:29] aalencar commented on #1615
@MartinBarus I managed to reproduce it on Wave 0.22 but not on master (with the latest changes, next release).
It looks like it was caused by #1327 and has been unintentionally fixed by #1538

### 0.22

https://user-images.githubusercontent.com/15820796/189083615-f3600c82-09fa-4c00-a262-3b36e094c5b8.mov

### After PR 1538  - latest changes

https://user-images.githubusercontent.com/15820796/189083

[2022-09-08 09:33] mturoci commented on #1615
@aalencar I managed to repro it yesterday on master. The problem is that your combobox implementation relies on hitting enter at the end of typing. Instead, we should update `wave.args` continually as user types (same behavior as textbox).

Repro steps should be something like:

* Run combobox.py example.
* Write something to the first combobox.
* Click submit button.
* See the list in `q.args`.

[2022-09-08 10:05] mturoci commented on #1615
I checked wrong branch, please ignore my last comment.

[2022-09-08 14:16] Nayananga opened #1617 "Cannot set x_min and x_max dates for a plot with x_scale="time""
#### Wave SDK Version, OS

0.21.1, macOS 12.5.1

#### Actual behavior

I want to draw a plot where `x_scale="time"` with a `x_min` date and `x_max` date but `x_min` and `x_max` accepts only `float` or `int` value only. When I tried to set epoch values plot draws with the starting DateTime 1970s.

![Screenshot 2022-09-08 at 19 45 30](https://user-images.githubusercontent.com/25351304/189145620-6f22

[2022-09-09 07:09] mturoci commented on #1600
I see your point, but I believe that most of the time people don't really care for the color as long as it's different enough from the others. I would suggest generating the swatch colors dynamically and make sure they do not include already existing colors. For example Github has similar UX when it comes to picking tag color:

https://user-images.githubusercontent.com/64769322/189291967-64c5792d-

[2022-09-09 08:00] mturoci commented on #1617
@Nayananga your epoch time is `Tue Jan 20 1970 06:46:22 GMT+0100 (Central European Standard Time)`
![image](https://user-images.githubusercontent.com/64769322/189300774-590912ac-9417-4ccd-a4d4-2245eb6bf9b0.png)

thus the reason why you are getting the weird plot.

Second problem is incorrect time format (extra `Z` without timezone). After fixing both issues:

[code]

<img width="592" alt="image" s

[2022-09-09 08:18] dott1718 commented on #1600
Yes, fully agree - it is just about getting a new color different from the others. A button to generate a new one would be even better than the original suggestion. Thank you @mturoci !

[2022-09-09 08:28] #1600 closed

[2022-09-09 08:44] mturoci commented on #1613
I would say not allowing both dates and times is by design. The reasoning is simple: Axis labels would take a lot of space, thus this could work only for a few data points. In general, it's better to have either only dates or only time axis.

@lo5 please correct me if I am wrong since you are the original author here.

[2022-09-12 06:55] #1610 closed

[2022-09-12 06:58] #1265 closed

[2022-09-12 07:14] mturoci commented on #527
Note for anyone taking this up: Dashboard app code is located [here](https://github.com/h2oai/wave/tree/master/py/demo).

[2022-09-12 07:16] mturoci commented on #524
Work on this issue incorporating my above comment to https://github.com/h2oai/wave/blob/master/website/docs/layout.md

[2022-09-12 07:38] mturoci opened #1619 "Add Github star count to docs page"
Add a big star count [Github button](https://buttons.github.io/) to https://wave.h2o.ai/ (probably under Get started button).

[2022-09-12 08:13] shihan007 commented on #1613
@mturoci This is a must needed feature for monitoring. To be able view chart from different times and dates. Which we already have in grafana.  Can we have this feature for charts?
cc: @lo5 @shereezhang @Nayananga

https://user-images.githubusercontent.com/38729017/189604725-ae1c6989-d312-4957-834f-2a17d5d7fd46.mov

[2022-09-12 08:38] shihan007 commented on #1613
Expected behaviour - if user select days, x axis will display days and if user select time like last 5 minutes or 12 hr x axis will display time
cc: @Nayananga @shereezhang

[2022-09-12 11:20] Nayananga commented on #1613
@mturoci x_scale="time" does not accept time-only values, but if we provide time as plain strings it will only plot those values as strings so we cannot present the time gaps properly, How would you suggest showing time values?

[2022-09-12 11:48] mturoci commented on #1613
can you elaborate?

Another option could be displaying time as "floats" (e.g. 10:30 => 10.30) and using `x_scale='interval'`.

@lo5 any ideas?

[2022-09-12 14:58] BBentleyDev commented on #1619
Hi there, can I work on this issue?

[2022-09-12 15:23] aalencar commented on #1619
Sure!

[2022-09-13 08:06] Nayananga commented on #1617
CC: @ShehanIshanka

[2022-09-13 08:08] Nayananga commented on #1613
CC: @ShehanIshanka

[2022-09-13 16:06] shereezhang commented on #1613
Some inspiration from Grafana:
1. IF total time duration <= 5 min, display `HH:MM:SS`
2. IF 5 min < total time duration  <= 24 hours, display `HH:MM`
3. IF 24 hours < total time duration  <= 7 days, display `Month/Day HH:MM`
4. IF 7 days < total time duration, display `Month/Day`

right now, we can do 1,2,4, but not 3 because it needs both the date and time.
@mturoci it would be nice to have both

[2022-09-13 17:23] Nayananga commented on #1613
Thank you for the detailed explanation @shereezhang, Let me add a little bit more context to the issue,

@mturoci This is bit tricky to explain, let me attach two examples,

This is when I provide time as a string (even with dates)
<img width="693" alt="Screenshot 2022-09-13 at 22 40 04" src="https://user-images.githubusercontent.com/25351304/189965097-da3b183b-65c0-4b0f-ae72-051a37c5cd4c.png">

T

[2022-09-13 22:23] itzelmald commented on #1492
Hello, I would like to work on this issue.

[2022-09-14 11:18] aalencar commented on #1492
Hi @itzelmald,

Thank you for the help! If you haven't done so yet, please take a look at [Contribution Guidelines](https://github.com/h2oai/wave/blob/master/.github/CONTRIBUTING.md) before proceeding and let us know if you need any help with it.

[2022-09-14 11:20] aalencar commented on #1574
Related to #1154.

[2022-09-14 11:39] mturoci commented on #1599
Some designs can be found [here](https://xd.adobe.com/view/acfb7ef1-5b99-4129-97b2-b30f8086c239-f9a8/). Let's discuss the API prior to implementation. cc @lo5

[2022-09-14 14:31] marek-mihok commented on #1537
The new [`ui.time_picker`](https://github.com/h2oai/wave/pull/1609) component which you can use alongside the `ui.date_picker` is here for you as a part of Wave `0.23` release. https://wave.h2o.ai/docs/widgets/form/time_picker/

![time_picker-8084c5e6b6d0301845e98fcff4de4ce4](https://user-images.githubusercontent.com/23740173/190182456-02b15221-bc19-4712-84a8-da20c01df31c.gif)

[2022-09-14 14:31] #1537 closed

[2022-09-14 16:28] mtanco opened #1622 "Min and Max column width not behaving as expected"
#### Wave SDK Version, OS
h2o_wave==0.22.0

#### Actual behavior
The goal is to programmatically make columns widths automatically the right size to fit in a table without scrolling. Upon trying to do this we found some interesting and maybe unexpected behaviors:

* The size of `min_width==0` is bigger than expected
* Tables are identical when using `max_width` regardless of if `min_width`  is set

[2022-09-14 16:31] mtanco commented on #1622
This is not necessarily a bug, or a feature request - it's more tracking for research into what's going on / how to improve the table column experience or even how to just make docs about table better

[2022-09-14 20:36] BBentleyDev commented on #1619
I'm new to opensource development and was hoping for some assistance setting up the development environment. I'm following the installation instructions in wave/website/README.md. When I run the setup command I get the following error:

git clone --depth 1 --branch v0.8.0 https://github.com/h2oai/wave-ml.git
h2o_wave_ml
Cloning into 'h2o_wave_ml'...
remote: Enumerating objects: 42, done.
remote: C

[2022-09-15 07:47] aalencar commented on #1619
I'm on MacOS and things can vary greatly, but I will try to help you out.

Have you run `run apt-get update` as suggested?

[2022-09-15 07:53] aalencar commented on #1619
You have to clone this repo https://github.com/h2oai/wave

[2022-09-15 11:58] aalencar commented on #1599
### Proposal

Develop two separate components, Carousel Card and Image Grid Card.
Both open a lightbox (modal with image) when an image is clicked. We could also somehow integrate Image Grid with Carousel Card by using a "View All" button that opens a modal with Image Grid.

### Proposed API for Carousel Card

[code]

## Questions
@mturoci

Should we display multiple images (pages) in a Carousel?

[2022-09-15 12:11] aalencar commented on #1599
related to #1542

[2022-09-15 22:29] BBentleyDev commented on #1619
Thanks for the help! I've gotten to the npm start command and now get the following error:

[INFO] Starting the development server...
[ERROR] Loading of version failed for version current
[ERROR] Error: Invalid sidebar file at "sidebars.js".
These sidebar document ids do not exist:
- widgets/content/article
- widgets/content/breadcrumbs
- widgets/content/footer
- widgets/content/frame
- widgets/co

[2022-09-16 05:55] aalencar commented on #1619
After cloning the repo, did you run `make all` in the root folder?

[2022-09-16 10:22] aalencar commented on #1599
After discussing with @dott1718, we decided to go with Image Grid as of now. Resizing should be done on the Python side though.

[2022-09-16 10:54] mturoci commented on #1599
As for API I would reuse existing `ui.image` so the API I would start with would be:

[code]

[2022-09-16 14:21] shamilh2o opened #1626 "Download table content with icons as CSV"
#### Is your feature request related to a problem? Please describe

I was using default download feature in the wave tables. In my table it contains some icons which I need to display in downloaded CSV file as it is. But it shows some other characters in cells where those icons placed.

Table UI:
![image](https://user-images.githubusercontent.com/101506482/190659721-92c6e9d7-7ccd-4f87-ac39-7488dc9

[2022-09-17 00:13] g-eoj opened #1627 "Uploads fail if file has no extension"
#### Wave SDK Version, OS

0.23.0, Mac OSX

#### Actual behavior

Uploaded an AWS credentials file using `ui.file_upload`, file gets created on wave server with text "Not Found".

Logs show when I try to download the file:
[code]

#### Expected behavior

Ability to upload files without extensions.

[2022-09-19 06:51] mturoci commented on #1626
Implementation notes: [table download function](https://github.com/h2oai/wave/blob/6c51267b5359fb09da8a342cfe47a277c17dbeae/ui/src/table.tsx#L576) creates blob that doesn't keep unicode chars and needs to be rewritten as described [here](https://stackoverflow.com/questions/18249290/generate-csv-for-excel-via-javascript-with-unicode-characters).

[2022-09-19 08:38] #1615 closed

[2022-09-19 13:38] mturoci commented on #1619
Hey @BBentleyDev, it's indeed the best if you could run `make all` to prepare for every aspect of Wave development. However, it's also perfectly fine with starting small. I updated [docs installation instructions](https://github.com/h2oai/wave/blob/master/website/README.md#installation), hope it can help :) Feel free to comment here in case you need any further assistance.

[2022-09-19 13:54] Far0n opened #1629 "Frame card's content flickering even if not changed"
#### Wave SDK Version, OS

wave 0.22.0

#### Actual behavior

The content of the `frame_card` is flickering even if the card is not touched during a serve invokation:

https://user-images.githubusercontent.com/6949295/191032920-bf31462c-fd7b-44b2-9f42-1d5b20281536.mp4

#### Expected behavior

Contents of unchanged cards wont flicker.

#### Steps To Reproduce

- Run the following app and press "cli

[2022-09-19 14:02] mturoci commented on #1627
Thanks for opening the issue @g-eoj! Unfortunately, I am not able to repro:

[code]

Can you maybe add a min repro code along side with the file you are trying to upload (with fake creds ofc).

[2022-09-19 14:28] YashasviChaurasia commented on #1619
@BBentleyDev
Feel free to reach out.
I am willing to help you with this issue.

[2022-09-19 16:32] grigory93 commented on #1295
where can I find examples of using plotly (or other libraries) that show to use them to make visuals in wave apps?

[2022-09-19 20:54] BBentleyDev commented on #1619
Thanks for all the assistance! I tried following the new instructions linked above and got the 'make generate' command, when I run it I get the following error:

./venv/bin/python showcase.py
make[1]: Entering directory '/mnt/c/Users/bentl/OneDrive/Desktop/100Devs/open-source-practice/wave'
go run cmd/wave/main.go -web-dir ./ui/build -debug -editable -proxy -public-dir /assets/@./assets
Cannot con

[2022-09-20 08:24] aalencar commented on #1154
### Supports setting `value` from Wave App:

❌ checkbox
❌ date picker
❌ toggle
❌ spinbox
❌ range slider
❌ slider
❌ time picker
❌ choice group - `choices` can be set but does not clear the selection
❌ picker -  `choices` can be set but does not clear the selection
❌ tab card

✅ copyable text
✅ progress
✅ tabs
✅ textbox #1606
✅ nav card
✅ dropdown #1621 (not merged yet) - `choices` can't be set
✅ co

[2022-09-20 09:50] #1358 closed

[2022-09-20 09:58] pascal-pfeiffer commented on #1511
Closing this in favor for zooming and panning functionality #1598. In this case, centering the images seems to be the better option.

[2022-09-20 09:58] #1511 closed

[2022-09-20 10:52] #1592 closed

[2022-09-20 20:07] BBentleyDev commented on #1619
Following the instructions in the main contributing docs I was able to get the wave server running on local host. So I went back to the instructions in the website readme, and when running the generate command get the following error:

╔════════════════════════════════════════════════════════════╗
║ Host system is missing a few dependencies to run browsers. ║
║ Please install them with the followi

[2022-09-21 06:38] mturoci commented on #1619
Interesting, never seen that before (probably windows issue). The reason the command is not found is that you need to be within a python virtual env and the corresponding folder first:

[code]

This also assumes you have run `make setup` within `tools/showcase` before thus having the `venv` folder created.

[2022-09-21 16:47] mturoci opened #1634 "Hacktoberfest 2022 rules"
👋 We would like to welcome all the [Hacktoberfest 2022](https://hacktoberfest.com/) participants.

## 🛫 First steps

* Read [code of conduct](https://github.com/h2oai/wave/blob/b70aec1ff2b6ed7b9829e4155b544aadf21062dd/.github/CODE_OF_CONDUCT.md).
* Read [contributing guidelines](https://github.com/h2oai/wave/blob/b70aec1ff2b6ed7b9829e4155b544aadf21062dd/.github/CONTRIBUTING.md).
* [Setup your dev

[2022-09-21 16:56] g-eoj commented on #1627
Hi @mturoci, I tried your repro file and still got the error.

Here's a better description of the error, see the "not found" messages and file contents:

<img width="1728" alt="Screen Shot 2022-09-21 at 9 48 20 AM" src="https://user-images.githubusercontent.com/2815901/191565167-26ea8ebf-f0ca-4ced-a6c3-efc39e4f3586.png">

Here's the file info I reproed with (I can't upload it, probably dud to the

[2022-09-21 17:01] scharf-roie commented on #1308
Hey @mturoci, can I take this issue? I haven't worked with UI specifically for python before but I am experienced in the language. Any additional guidelines would be very helpful!

[2022-09-21 17:42] vopani commented on #1627
I can repro @g-eoj 's issue with Wave v0.23.1 using any file without an extension (content inside file is irrelevant).

[2022-09-22 06:13] mturoci commented on #1308
Hi @scharf-roie, definitely go for it! However, note that the work needed to be done is going to be in React/Typescript mostly - https://github.com/h2oai/wave/blob/master/ui/src/copyable_text.tsx.

Please go through our [contributing guide](https://github.com/h2oai/wave/blob/master/.github/CONTRIBUTING.md) and set up your dev env first. Should you have any questions, do not hesitate to ask on our

[2022-09-22 07:41] mturoci commented on #1627
Reproed. It confused me that there was no err thrown in python terminal and file got created anyway, it's just not cattable. Thanks both @g-eoj and @vopani!

[2022-09-22 08:33] mturoci commented on #1627
After a bit of digging into the [code](https://github.com/h2oai/wave/blob/08afda6f86b50324b74b89e3787c969b5781dd81/file_server.go#L72) it seems like we do not support ext-less files on purpose. @lo5 maybe extensionless files could be handy in some scenarios? Adding the functionality shouldn't be that hard either - just a check if the extensionless file is present on the disk. Wdyt?

Will also add

[2022-09-22 11:34] johannes-becker-otto commented on #1312
Update. Just saw
Docs: Add page about Custom CSS and how to write CSS selectors.
So basically thanks for the solution:
[code]
Cheers
Hannes

[2022-09-22 11:34] #1312 closed

[2022-09-22 13:21] aalencar commented on #1599
Implemetation notes: add virtualization and as a stretch goal create a dynamic grid that minimizes gaps between images of different sizes.

[2022-09-22 18:13] itzelmald commented on #1492
Hello, I am new to open source and was wondering in which files I could find this issue?

[2022-09-24 08:47] Far0n opened #1637 "Links stopped working when embedded in html"
#### Wave SDK Version, OS

last known working version: 0.21.0
broken in: wave 0.22.0, 0.23.0

Ever since wave 0.22.0 clicking on html-formatted links no longer populates q.args:

https://user-images.githubusercontent.com/6949295/192089128-95fbe83e-4b71-4f08-9e2e-79a37582eddb.mp4

[code]

[2022-09-24 23:23] Far0n commented on #216
@lo5 @mturoci
We have a use case for this in **Model Validation**: https://github.com/h2oai/model-validation/pull/111#issue-1378730439

The following would be great:
- single selection with trigger=True functionality and the same layout as the multi-selection table
- bonus: single selection with layout from non-selectable table, single left-click trigger no matter where on a row and some visual hi

[2022-09-26 04:09] NevilleMthw commented on #1535
Is anyone doing this issue?

[2022-09-26 07:15] mturoci commented on #1637
Hi @Far0n,

the correct formatting should be:

[code]

[2022-09-26 07:34] Far0n commented on #1637
facepalm, that makes a lot of sense actually. :D works and sorry for false alarm.

[2022-09-26 08:05] mturoci commented on #1535
You can take it @NevilleMthw!

[2022-09-26 08:41] #1503 closed

[2022-09-26 13:03] #1574 closed

[2022-09-26 19:12] ajjayymahato commented on #1634
Is this issue open? Can I take up this issue? If yes can you please assign this to me?

[2022-09-26 19:15] ajjayymahato commented on #496
Is this issue open? Can I take up this issue? If yes can you please assign this to me?

[2022-09-27 06:16] mturoci commented on #1535
The changes need to be done in `form.tsx`. Here is [the interface](https://github.com/h2oai/wave/blob/6ca6ed380ae4bc99a8a182d63a34e1caf21148dc/ui/src/form.tsx#L169) and [the component](https://github.com/h2oai/wave/blob/6ca6ed380ae4bc99a8a182d63a34e1caf21148dc/ui/src/form.tsx#L240). For quicker answers you might also want to join our [Discord](https://discord.gg/GsyvWgzevv).

[2022-09-27 06:16] mturoci commented on #1634
Hi @ajjayymahato this is just an information issue and cannot be taken.

[2022-09-27 06:19] mturoci commented on #496
Hi @ajjayymahato! You can try it if you feel like it, but it's not going to be easy. I would recommend picking something easier to start - see https://github.com/h2oai/wave/labels/good%20first%20issue.

[2022-09-27 06:22] mturoci commented on #1619
Hi @BBentleyDev any updates? Feel free to use [Discord server](https://discord.gg/GsyvWgzevv) for more real-time help. In case of inactivity I will free up this issue for other to grab.

[2022-09-27 07:11] YashasviChaurasia commented on #1619
@mturoci
Kindly allow me to work on this if this issue is freed up.
I would like to work on this.
Thank you

[2022-09-27 13:50] InfasMohammed commented on #1626
Hi, can I take up this issue?

[2022-09-27 14:38] mturoci commented on #1626
Hi @InfasMohammed. Sure, it's yours.

[2022-09-27 15:58] Mukul-svg commented on #1619
Hi, I would like to work on this issue. Also since I'm a beginner please explain about it a bit.

[2022-09-27 18:12] mturoci commented on #1619
Hi @Mukul-svg. Unfortunately, this issue is already taken by @BBentleyDev and in case he will abandon it, @YashasviChaurasia will take over. Feel free to grab some other good first issue though :)

[2022-09-28 01:36] Mukul-svg commented on #1619
Sure, Thank you very much for replying.

[2022-09-28 06:05] mturoci commented on #1619
@YashasviChaurasia you are good to go. I will reopen your previous PR so you can continue to work there.

[2022-09-29 09:41] Far0n opened #1644 "Offer more control over item placements on cards"
This is a feature request based on the following discussion: [Is it possible to put items to bottom of a card?](https://github.com/h2oai/wave/discussions/1641)

It would be nice if we had a general mechanism to place items on certain areas on a card. Personally, I would at least find these 2 options useful:
- be able to center elements on a card
- allow to put elements at the bottom of a card (but

[2022-09-29 09:47] Far0n opened #1645 "Allow cell overflow "tooltip" for cell type "markdown""
Based on the discussion [Markdown cell type and cell overflow "tooltip"](https://github.com/h2oai/wave/discussions/1642) cell type `markdown` currently only supports cell overlfow `wrap` but not `tooltip` (as of wave 0.23.1). The latter would be nice to have.

[2022-09-29 10:04] Far0n opened #1646 "ui.Table: cell content wrap can lead to vertical scrollbar"
#### Wave SDK Version, OS

wave 0.23.1

#### Actual behavior

Cell overflow = `wrap` can lead to "ugly" scrollbar on a ui.table, if table height wasn't set by user to offer enough vertical space.
![grafik](https://user-images.githubusercontent.com/6949295/193000610-fc47f488-9cb4-446f-a8c9-9d0cbc5a7a42.png)

#### Expected behavior

Wave should adjust the height of the table accordingly (if applicab

[2022-09-29 10:05] mturoci commented on #1645
Should be a fairly simple implementation [here](https://github.com/h2oai/wave/blob/badd8a9191283bcb0927a88dfc3b82ef00774a92/ui/src/table.tsx#L484). The wrapper component will most likely need to be made more generic and not accept only plain strings.

[2022-09-29 10:13] mturoci commented on #1646
This behavior is intentional. The reason is being no simple and performant way for checking the wrap - most probably will not be implemented as not worth increasing the code complexity. Static row height is currently used for computing the total table height (if not specified explicitly).

We assume app devs will know best what the expected length of the data is and can adjust the height according

[2022-09-29 10:22] Far0n commented on #1646
@mturoci would it be possible to allow min_height, max_height for a table as alternative?

[2022-09-29 10:57] mturoci commented on #1646
In case of an empty table you have 2 options IMO:

* Do not show the table at all.
* Specify the `height` irrespective of the data count (probably better).

Specifying height is also preferred due to layout shift. If you tend to have a dynamic data count, you most likely do not want to have other elements jumping around when it changes. With height set, you either display all rows or get vertical

[2022-09-29 11:32] Far0n commented on #1646
Should be close this issue then?

[2022-09-29 12:38] Far0n opened #1647 "Tags are hard to read with certain default colors"
#### Wave SDK Version, OS

wave 0.23.1

#### Actual behavior

For example `yellow` with theme `h2o-dark` :

![grafik](https://user-images.githubusercontent.com/6949295/193032459-938dd5d5-fc57-4cc9-bbdc-00de84efd17d.png)

#### Expected behavior

- better readability

#### Steps To Reproduce

Use `ui.tag` with `color="yellow"`

[2022-09-29 12:43] Far0n commented on #1646
Your explanations make sense to me.

[2022-09-29 12:45] mturoci commented on #1647
Edit: looking at the docstring - `If not specified, black or white will be picked based on correct contrast with background` this is what should already happen so it's a bug after all. Thanks for reporting! The solution still stands though.

[2022-09-29 12:48] Far0n commented on #1647
yeah, that's what confused me, because when I pass a "custom yellow" the font becomes black and hence readability is fine:
![grafik](https://user-images.githubusercontent.com/6949295/193035480-d21740dd-7ab6-4803-84f0-55fa8a10049e.png)

[2022-09-29 12:50] mturoci commented on #1647
Most likely you hit an edge case for our [contrast function](https://github.com/h2oai/wave/blob/badd8a9191283bcb0927a88dfc3b82ef00774a92/ui/src/theme.ts#L76).

[2022-09-29 12:54] Far0n commented on #1647
fyi: with #fdfd2d (color picked from screen):
![grafik](https://user-images.githubusercontent.com/6949295/193036408-833a242a-fac8-4d02-ab9b-d3bb65273d70.png)

[2022-09-29 18:01] BBentleyDev commented on #1619
Sorry for the delay, I could not get it to work on my machine. Good luck moving forward!

[2022-10-01 07:58] epa095 opened #1650 "Table: hidden searchable column"
#### Is your feature request related to a problem? Please describe

We use a table to present a list of datasets. Each has some metadata we want to show (e.g name and description), but also some metadata we don't want to show, but which we want to be searchable in the table search feature (e.g list of column names and column descriptions for the dataset).

#### Describe the solution you'd like

A

[2022-10-01 21:33] AdarshBajpai67 commented on #252
hey is this issue still open?
if yes please do explain a bit more

[2022-10-03 06:15] InfasMohammed commented on #1626
![image](https://user-images.githubusercontent.com/87384090/193511740-cf4fd9a7-d188-4df2-a9db-9f38181a6bd6.png)
i have this issue

[2022-10-03 07:41] mturoci commented on #1626
Please follow the [dev setup instructions in contribution guidelines](https://wave.h2o.ai/docs/contributing/#development-setup). Once done, run the `table.py` example as it's relevant to this issue.

Note that your 4 days have already passed though which means this issue is again up for grabs for anyone interested. You may continue to work on it on your own if you want though.

[2022-10-03 07:48] mturoci commented on #1650
Hi @epa095,

you can create your own custom search like in [this example](https://wave.h2o.ai/docs/examples/table-filter-backend/) just by using the table with the data you want to have displayed and a separate textbox that would act as search.

If you would need even more control around all the table aspects (sorting, filtering etc.), you might want to have a look at [paginated table](https://wav

[2022-10-03 08:16] InfasMohammed commented on #1626
I will continue

[2022-10-03 10:13] mturoci opened #1653 "Add social icons to docs page header"
Replace the current Github link with an icon and include icons for Twitter and Discord. Replace the theme-changing icon with a more compact one.

## Current

![image](https://user-images.githubusercontent.com/64769322/193553303-ecdd2915-3e33-4cdb-995d-23ed5926c42e.png)

## Desired result

<img width="343" alt="image" src="https://user-images.githubusercontent.com/64769322/193552747-bc9a27f0-d623-4

[2022-10-03 10:18] mturoci commented on #1308
Since 4 days have passed already, the issue is up for grabs again.

[2022-10-03 12:21] Far0n opened #1654 "Trigger option for ui.Table row selection changes"
#### Is your feature request related to a problem? Please describe

We would like to change the state of some buttons based on table row selection,
e.g. "Delete selected" => disabled = True if nothing is selected

#### Describe the solution you'd like

- `trigger=True` option for table row selection changes

#### Describe alternatives you've considered

Doable via custom js and wave.emit, but woul

[2022-10-03 17:43] GhoulMac commented on #1653
Hii I would like to work on the Issue

[2022-10-03 17:45] mturoci commented on #1653
@i-m-karanagarwal since you arrived first, the issue will be assigned to you. You have 4 days for completion before the issue becomes up for grabs again.

@GhoulMac please direct any question regarding the installation to our [Discord server](https://discord.gg/mzw3Cd6v)

[2022-10-04 06:46] mturoci commented on #1653
@i-m-karanagarwal the documentation site is in `website` folder.

[2022-10-04 21:40] yashraizada commented on #776
Can you give me more details on this? I would like to work on this.

[2022-10-05 01:00] Pooja444 commented on #1577
@mturoci I would like to work on this issue, can it be assigned to me, please? Will this count towards Hacktoberfest, 2022?
Also, I will need to make changes to [this](https://github.com/h2oai/wave/blob/master/ui/src/menu.tsx) file, right?

[2022-10-05 06:21] mturoci commented on #776
Hi @yashraizada. There is just a single point left which is

A single picture is worth more than 1000 words so:

![image](https://user-images.githubusercontent.com/64769322/193993627-bf268547-fb98-405b-9175-18e5613fd89f.png)

Should be rewritten to

![image](https://user-images.githubusercontent.com/64769322/193993904-0cf6e13f-665f-44a5-a79d-a3c128f0d977.png)

You can also refactor code where nece

[2022-10-05 06:26] mturoci commented on #1577
Hi @Pooja444 I will assign the issue to you. If you manage to make a valid PR that solves the problem correctly and the PR will get merged, it will count to Hacktoberfest submissions.

Yes, this is the starting point, but it's not going to be the only file changed since you need to add a new attribute. See our contribution guidelines for further info.

Note that you are give 4 days before this iss

[2022-10-05 06:41] mturoci commented on #1619
Since 4 days have passed, this issue is up for grabs again for anyone who would like to work on it.

[2022-10-05 09:13] vopani opened #1659 "Alignment of table values"
#### Is your feature request related to a problem? Please describe
Allowing different alignments of values in a table can beautify UI in some use-cases.

#### Describe the solution you'd like
Allow user to left / center / right align the values of a column (something like `justify` in `ui.table_column` with default='left' so nothing breaks / changes in UI of existing apps).

#### Additional contex

[2022-10-05 11:00] #1653 closed

[2022-10-06 09:13] mturoci opened #1661 "More docs on WaveDB"
### Discussed in https://github.com/h2oai/wave/discussions/1660

<div type='discussions-op-text'>

<sup>Originally posted by **mtanco** October  5, 2022</sup>
Hello! I used WaveDB for the first time yesterday, and am not a regular SQLite user. I was having really hard time figuring out what the index was for / doing on the connection line in our docs:
[code]

And just stumbled upon this comment in

[2022-10-07 00:11] #252 closed

[2022-10-08 00:35] Pooja444 commented on #1577
@mturoci I have raised a PR for this issue. I tested it locally and have attached the test screenshots to the PR. Kindly review and let me know if I need to make any changes. Thanks for assigning me this issue!

[2022-10-08 00:53] Pooja444 commented on #1659
@mturoci I would like to work on this issue, can it be assigned to me, please? I have worked on the issue https://github.com/h2oai/wave/issues/1577 and now I have a good knowledge of how to develop UI changes so it'll probably help with this issue 😁

[2022-10-08 10:47] vopani opened #1664 "Button icon contrast is inconsistent"
#### Wave SDK Version, OS
v0.23.1 on MacOS

#### Actual behaviour
Default theme:
<img width="1141" alt="Screenshot 2022-10-08 at 4 10 34 PM" src="https://user-images.githubusercontent.com/8954217/194703496-12c460ba-1987-482a-9d49-93454335e3d5.png">

Dark theme:
<img width="1139" alt="Screenshot 2022-10-08 at 4 10 50 PM" src="https://user-images.githubusercontent.com/8954217/194703504-9ebc6e90-9ca8

[2022-10-10 05:52] mturoci commented on #1659
Please go ahead @Pooja444!

[2022-10-10 14:04] vopani opened #1666 "Support multiple spaces in components"
#### Is your feature request related to a problem? Please describe
Components like `ui.stat` convert multiple spaces to single space.

#### Describe the solution you'd like
Support multiple spaces.

#### Describe alternatives you've considered
Detailed discussion here: https://github.com/h2oai/wave/discussions/1665

#### Additional context
It should be supported for all components where it's relev

[2022-10-11 08:52] RedJOe-0608 commented on #1659
I'd like to contribute to this issue! Can I work on it?

[2022-10-12 08:06] mturoci commented on #1659
Hi @RedJOe-0608, this issue is currently taken by @Pooja444 but feel free to pick some other issue - there are still many left.

[2022-10-13 09:53] winkle29 commented on #1622
Hi @mtanco! can I please work on this issue?

[2022-10-13 09:55] winkle29 commented on #1645
Hi @mturoci! Can I please work on this issue?

[2022-10-13 09:56] mturoci opened #1667 "Use absolute URLs in API section"
We use relative links in our [API section](https://wave.h2o.ai/docs/api/) for submodules for example. However, these won't work if user comes directly to `/docs/api` (without trailing `/`). The proper solution here should be to use absolute links.

Repro:

Click [this link without trailing slash](https://wave.h2o.ai/docs/api) and try to navigate to a submodule - should result in 404.

[2022-10-13 10:02] mturoci commented on #1645
Hi @winkle29 sure! You have 4 days for completion before this issue becomes up for grabs again. Good luck!

[2022-10-13 10:05] mturoci commented on #1622
Hi @winkle29 I have already assigned #1645 to you already, try finishing that one first before proceeding to others. Thanks!

[2022-10-13 10:05] mturoci commented on #1535
This issue is up for grabs again.

[2022-10-13 10:11] winkle29 commented on #1645
Thank you!

[2022-10-13 18:42] tavarescarolina commented on #1492
Hello, can i do it?

[2022-10-14 03:00] Pooja444 commented on #1659
Thanks for assigning this to me @mturoci, I have raised a PR for this issue - https://github.com/h2oai/wave/pull/1670
This issue was awesome and I had fun contributing to it! Please review and let me know if I need to make any changes, thank you!

[2022-10-14 09:59] mturoci commented on #1492
It's all yours @tavarescarolina. Good luck!

[2022-10-14 19:04] JacksonIsaac commented on #1667
Working on this

[2022-10-14 20:45] JacksonIsaac commented on #1667
Looks like the docs/api files are no longer in the repo ? I was able to setup the docs on my local system and make the changes, but no way to track the file changes

[2022-10-14 20:48] JacksonIsaac commented on #1626
Is this issue still up for grabs ? I have the wave server running

[2022-10-15 19:27] rubyruins commented on #1619
Hi @mturoci, I'd like to contribute to wave and have the server set up and running. Can I work on this issue for Hacktoberfest?